<template lang="pug">
h1.h1 O firmie
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Ofirmie',
  head () {
    return {
      title: this.head.company.title,
      meta: [
        { hid: 'description', name: 'description', content: this.head.company.description }
      ]
    }
  },
  computed: {
    ...mapGetters('content', [ 'head' ])
  }
}
</script>
