<template lang="pug">
div.form__group
  slot
</template>

<script>
export default {
  name: 'FormGroup'
}
</script>

<style lang="sass" scoped>
.form

  &__group
    position: relative
    margin: $group-margin
    
    +screen(tablet)
      &.block--inline
        float: left

    &--success
      +check-pseudo-icon
      &:before,
      &:after
      	top: 1.4rem
      	left: auto

      &:before
      	right: .8rem

      &:after
      	right: 1.5rem

    &--error
      +error-pseudo-icon
</style>
