<template lang="pug">
span.form__msg(:class="`form__msg--${type}`")
  slot
</template>

<script>
export default {
  name: 'FormMessage',
  props: {
  	type: {
  		type: String,
  		default: 'default'
  	}
  }
}
</script>

<style lang="sass" scoped>
.form

  &__msg
    +font($font-size: $font-size-sm, $line-height: 1.1)
    position: absolute
    display: block
    margin-top: 4px

    &--default
      color: $text-color

    &--success
      color: $success

    &--info
      color: $info

    &--warning
      color: $warning

    &--error
      color: $danger
</style>
