// ===
// col
.col
  padding-right: $col-padding
  padding-left: $col-padding
  float: left

  &--no-padding
    padding-right: 0 !important
    padding-left: 0 !important

  @for $i from 1 through 12
    +col('xs', $i)

  @media only screen and #{$mobile}
    @for $i from 1 through 12
      +col('sm', $i)

  @media only screen and #{$tablet}
    @for $i from 1 through 12
      +col('md', $i)

  @media only screen and #{$desktop}
    @for $i from 1 through 12
      +col('lg', $i)
