<template lang="pug">
div
  v-hero(:title="contact.hero.title" 
            :subtitle="contact.hero.subtitle" 
            :background-image-path="contact.hero.backgroundImagePath")
    v-icon.hide--xs(name="phone")
    span.h5.m__b--0 SimpliCity Connect infolinia: <strong>+48 500 500 500</strong>

  v-container.section
    v-row

      v-col(tag="header")
        h2.h2 {{ contact.title }}
      
      v-col(size="xs-12 sm-7 md-6")
        v-panel(has-background has-shadow)
          h3.h5 {{ contact.contactFormTitle }}
          hr
          p {{ contact.contactFormDescription }}
          
          the-contact-form

      v-col(size="xs-12 sm-5 md-5 lg-4" offset="md-1")
        h3.h5 {{ contact.techHelpTitle }}
        hr
        p {{ contact.techHelpDescription }}

        the-tech-help-form
  
  v-container(fluid)
    v-row
      v-col(size="xs-12 sm-6")
        the-contact-map
      v-col.children-center--verticial(size="xs-12 sm-6" v-lazy:background-image="require('static/images/city-red-bg.png')")
        the-contact-details
</template>

<script>
import { mapGetters } from 'vuex'
import Hero from '@/components/Hero'
import TheContactForm from '@/components/forms/TheContactForm'
import TheTechHelpForm from '@/components/forms/TheTechHelpForm'
import TheContactMap from '@/components/TheContactMap'
import TheContactDetails from '@/components/TheContactDetails'

export default {
  name: 'Kontakt',
  head () {
    return {
      title: this.head.contact.title,
      meta: [
        { hid: 'description', name: 'description', content: this.head.contact.description }
      ]
    }
  },
  computed: {
    ...mapGetters('content', [ 'head', 'form', 'contact' ])
  },
  components: {
    vHero: Hero,
    TheContactForm,
    TheTechHelpForm,
    TheContactMap,
    TheContactDetails
  }
}
</script>

<style lang="sass" scoped>
.section
  min-height: auto

.col

  &--sm-4
  &--sm-7
    margin-bottom: 3rem

.h2
  margin-bottom: 3rem

  +screen(desktop)
    margin-bottom: 4.5rem

.h3
  display: flex
  align-items: center

.icon.phone
  margin-right: 2rem

.col--sm-6
  min-height: 300px

  +screen('desktop')
    min-height: 420px

.children-center--verticial
  +background-image-setup($red, initial, bottom right)

  +screen(tablet)
    border-radius: 30px 0 0 0
</style>
