<template lang="pug">
h1.h1 Regulamin
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'Regulamin',
	head () {
    return {
      title: this.head.regulations.title,
      meta: [
        { hid: 'description', name: 'description', content: this.head.regulations.description }
      ]
    }
  },
  computed: {
    ...mapGetters('content', [ 'head' ])
  }
}
</script>

