<template lang="pug">
div.dropdown(v-on-clickaway="away")

  button.dropdown__trigger(:class="{ 'dropdown__trigger--active': show }" @click="toggle") {{ text }}

  div.dropdown__content(:class="{ 'dropdown__content--active': show }" v-if="content")
    ul.dropdown__list(@click="toggle")
      slot
</template>

<script>
/*
 * Reusable clickaway directive for reusable Vue.js components
 * from there: https://github.com/simplesmiler/vue-clickaway
 */
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'Dropdown',
  mixins: [ clickaway ],
  data () {
    return {
      content: !!this.$slots.default,
      text: this.title,
      show: false
    }
  },
  props: {
    title: {
      type: String,
      default: null
    }
  },
  methods: {
    away () {
      this.show = false
    },
    toggle () {
      this.show = !this.show
    },
    changeTitle (value) {
    	this.text = value
    }
  }
}
</script>

<style lang="sass" scoped>
.dropdown
	position: relative
	display: inline-block

	&__list
		+list-unstyled  

	&__trigger
		+button-unstyled
		+font($font-size: $dropdown-trigger-font-size, $color: $dropdown-trigger-color, $line-height: $dropdown-trigger-height)
		text-align: left
		position: relative
		z-index: 1
		background-color: $dropdown-trigger-bg-color
		border: $dropdown-trigger-border-width solid $dropdown-trigger-border-color
		border-radius: $dropdown-trigger-border-radius
		padding: $dropdown-trigger-padding-horizontal $dropdown-trigger-padding-vertical * 2 $dropdown-trigger-padding-horizontal $dropdown-trigger-padding-vertical
		min-width: $dropdown-trigger-width
		height: $dropdown-trigger-height
		transition: border-color, color .15s ease-in-out

		&:after
			+pseudo
			+triangle($color: $dropdown-triangle-color, $direction: 'down', $size: 6px, $round: true)
			position: absolute
			top: 0
			right: $dropdown-trigger-padding-vertical
			margin: $dropdown-trigger-margin
			transition: transform .15s ease-in

		&--active
			border-color: $dropdown-trigger-border-color-active
			border-bottom: 0
			border-radius: $dropdown-trigger-border-radius $dropdown-trigger-border-radius 0 0

			&:after
				transform: rotate(180deg)

		&--chosen
			color: $dropdown-trigger-color-active

	&__content
		opacity: 0
		z-index: 2
		left: 0
		position: absolute
		background-clip: padding-box
		background-color: $dropdown-trigger-bg-color
		border: $dropdown-trigger-border-width solid $dropdown-trigger-border-color-active
		border-top: 0
		border-radius: 0 0 $dropdown-trigger-border-radius $dropdown-trigger-border-radius
		width: 100%
		max-width: 15rem
		pointer-events: none
		transform: scale(.85) translateY(-10%)
		transition: all .25s cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out

		&--active
			opacity: 1
			pointer-events: auto
			transform: scale(1) translate(0)		
</style>
