<template lang="pug">
li.dropdown__item(@click="click")
  slot
</template>

<script>
export default {
  name: 'DropdownItem',
  methods: {
    click (event) {
      this.$emit('click', event)
      this.$parent.changeTitle(event.target.innerText)
    }
  }
}
</script>

<style lang="sass" scoped>
.dropdown
  
  &__item
    padding: $dropdown-trigger-padding-horizontal $dropdown-trigger-padding-vertical

    &:last-child
      border-bottom-right-radius: $dropdown-trigger-border-radius 
      border-bottom-left-radius: $dropdown-trigger-border-radius 

  &__item,
  &__link
    +font($font-size: $dropdown-trigger-font-size, $color: $dropdown-trigger-color, $line-height: $dropdown-trigger-height)
    white-space: nowrap
    cursor: pointer
    transition: color .2s ease-in-out

    &:focus,
    &:hover
      background-color: $dropdown-item-bg-color-active
      color: $dropdown-item-color-active      
</style>
