<template lang="pug">
li.list__item
	slot
</template>

<script>
export default {
	name: 'ListItem'
}
</script>

<style lang="sass" scoped>
.list

	&__item
		margin-bottom: $list-item-margin

		&:last-child
			margin-bottom: 0
</style>
