<template lang="pug">
ul.list(:class="[ { 'list--inline' : inline }, { 'list--style-check' : listStyleCheck } ]")
	slot
</template>

<script>
export default {
	name: 'List',
  props: {
  	inline: {
  		type: Boolean,
  		default: false
  	},
  	listStyleCheck: {
  		type: Boolean,
  		default: false
  	}
  }
}
</script>

<style lang="sass" scoped>
.list
	list-style: none
	padding: 0
	margin: 0
	
	&--style-check

		.list__item
			+check-pseudo-icon
			position: relative
			padding-left: 3rem

	&--inline

		.list__item
			display: inline-block
			margin-right: $list-item-margin
</style>
