<template lang="pug">
v-form-group(:class="[{ 'block--inline' : inline }]")

  label.form__label.form__label--checkbox(:class="{ 'form__label--error' : validError }")

    input.form__checkbox-input(
           v-model="localValue"
            type="checkbox"
            :disabled="disabled"
            :required="required"
            :name="name"
            :value="nativeValue"
            :true-value="trueValue"
            :false-value="falseValue")
    
    span.form__checkbox(:class="[{ 'form__checkbox--success' : validSuccess }, { 'form__checkbox--error' : validError }]")

    span.form__label-text(v-if="showLabel")
      | {{ label }} <slot name="label"></slot>

  v-form-message(type="error" v-if="showErrorMessage")
    slot(name="error-message")
</template>

<script>
import FormGroup from '@/components/ui/form/FormGroup'
import FormMessage from '@/components/ui/form/FormMessage'

export default {
  name: 'Checkbox',
  data () {
    return {
      localValue: this.value
    }
  },
  props: {
    id: String,
    name: String,
    label: String,
    value: [String, Number, Boolean, Function, Object, Array, Symbol],
    nativeValue: [String, Number, Boolean, Function, Object, Array, Symbol],
    trueValue: {
      type: [String, Number, Boolean, Function, Object, Array, Symbol],
      default: true
    },
    falseValue: {
      type: [String, Number, Boolean, Function, Object, Array, Symbol],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    inline: {
      type: Boolean,
      default: false
    },
    validSuccess: {
      type: [Object, Boolean, String],
      default: false
    },
    validError: {
      type: [Object, Boolean, String],
      default: false
    }
  },
  watch: {
    value (value) {
      this.localValue = value
    },
    localValue (value) {
      this.$emit('input', value)
    }
  },
  computed: {
    showLabel () {
      return this.label || !!this.$slots['label'] || null
    },
    showErrorMessage () {
      return !!this.$slots['error-message'] && this.validError
    }
  },
  components: {
    vFormGroup: FormGroup,
    vFormMessage: FormMessage
  }
}
</script>

<style lang="sass" scoped>
.form

  &__label
    +font($font-size: $label-font-size, $font-weight: $font-weight-regular, $color: $label-text-color, $line-height: 15px)
    display: block
    position: relative
    margin: $label-margin
    cursor: pointer

    &--error
      color: $danger
      
      &:before
        border-color: $danger

    &-text
      display: inline-block
      margin-top: 1px
      margin-left: 1.75rem

      &--error
        color: $danger
  
  &__checkbox  
    +check-pseudo-icon
    position: absolute
    top: 0
    width: 16px
    height: 16px
    display: inline-block
    border-radius: 5px
    border: 1px solid $white
    background-color: $white
    
    &:before
      right: 2px
      width: 8px
      height: 2px
    
    &:after
      left: 2px
      right: 8px
      width: 4px
      height: 2px

    &:before,
    &:after
      top: 7px
      bottom: 0
      display: none
    
    &--error
      border-color: $danger

  &__checkbox-input
    +hide-form-filed

    &:checked ~ .form__checkbox
      &:before,
      &:after  
        display: block  
</style>
