<template lang="pug">
v-form-group(:class="[{ 'form__group--error' : validError }, { 'form__group--success' : validSuccess }, { 'form__group--has-label' : !hideLabel }, { 'block--inline' : inline }]")
  
  label.form__label(:for="id" v-show="!hideLabel" v-if="showLabel")
    | {{ label }} <slot name="label"></slot>
  
  textarea( class="form__field form__field--textarea"
         :class="[{ 'form__field--success' : validSuccess }, { 'form__field--error' : validError }]"
         :id="id"
         :name="name"
         :placeholder="placeholder"
         :value="localValue"
         @input="onInput"
         v-if="textarea")

  input( class="form__field"
         :class="[{ 'form__field--success' : validSuccess }, { 'form__field--error' : validError }]"
         :id="id"
         :name="name"
         :placeholder="placeholder"
         :value="localValue"
         :type="type"
         @input="onInput"
         v-else)

  v-form-message(type="error" v-if="showErrorMessage")
    slot(name="error-message")
</template>

<script>
import FormGroup from '@/components/ui/form/FormGroup'
import FormMessage from '@/components/ui/form/FormMessage'

// Valid input types
const types = ['text', 'password', 'email', 'number', 'url', 'tel', 'search', 'range', 'color', 'date', 'time', 'datetime', 'datetime-local', 'month', 'week']

export default {
  name: 'Field',
  data () {
    return {
      localValue: this.value
    }
  },
  props: {
    id: String,
    label: String,
    name: String,
    placeholder: String,
    textarea: {
      type: Boolean,
      default: false
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    value: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text',
      validator: value => types.includes(value)
    },
    inline: {
      type: Boolean,
      default: false
    },
    validSuccess: {
      type: [Object, Boolean, String],
      default: false
    },
    validError: {
      type: [Object, Boolean, String],
      default: false
    }
  },
  watch: {
    value (value) {
      this.localValue = value
    },
    localValue (value) {
      this.$emit('input', value)
    }
  },
  methods: {
    onInput (event) {
      this.localValue = event.target.value
      this.$emit('input', this.localValue)
    }
  },
  computed: {
    showLabel () {
      return this.label || null
    },
    showErrorMessage () {
      return !!this.$slots['error-message'] && this.validError
    }
  },
  components: {
    vFormGroup: FormGroup,
    vFormMessage: FormMessage
  }
}
</script>

<style lang="sass" scoped>
.form

  &__group--has-label
    &.form__group--success,
    &.form__group--error
      &:before,
      &:after
        top: 3.35rem

  &__label
    +font($font-size: $label-font-size, $font-weight: $font-weight-regular, $color: $label-text-color)
    display: block
    margin-bottom: $label-margin

  &__field
    +font($font-size: $input-placeholder-font-size, $color: $input-color)
    background-color: $input-bg
    border: $input-border-width solid $input-border-color
    border-radius: $input-border-radius
    padding: $input-padding-horizontal $input-padding-vertical
    width: 100%
    height: $input-height
    transition: border-color, color .15s ease-in-out
    
    +placeholder
      color: $input-color

    &:focus
      border-color: $input-focus-border-color
      color: $input-color-active

      +placeholder
        color: $input-color-active
    
    &--textarea
      height: 10rem

    &--success
      border-color: $success

      &:focus
        border-color: $success

    &--error
      border-color: $danger

      &:focus
        border-color: $danger
</style>
