<template lang="pug">
v-form-group(:class="[{ 'block--inline' : inline }]")

  label.form__label.form__label--radio(:class="{ 'form__label--error' : validError }")

    input.form__radio-input(
           v-model="localValue"
            type="radio"
            :disabled="disabled"
            :required="required"
            :name="name"
            :value="nativeValue")
    
    span.form__radio(:class="[{ 'form__radio--success' : validSuccess }, { 'form__radio--error' : validError }]")

    span.form__label-text(v-if="showLabel")
      | {{ label }} <slot name="label"></slot>

  v-form-message(type="error" v-if="showErrorMessage")
    slot(name="error-message")
</template>

<script>
import FormGroup from '@/components/ui/form/FormGroup'
import FormMessage from '@/components/ui/form/FormMessage'

export default {
  name: 'Radio',
  data () {
    return {
      localValue: this.value
    }
  },
  props: {
    id: String,
    name: String,
    label: String,
    value: [String, Number, Boolean, Function, Object, Array, Symbol],
    nativeValue: [String, Number, Boolean, Function, Object, Array, Symbol],
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    inline: {
      type: Boolean,
      default: false
    },
    validSuccess: {
      type: [Object, Boolean, String],
      default: false
    },
    validError: {
      type: [Object, Boolean, String],
      default: false
    }
  },
  watch: {
    value (value) {
      this.localValue = value
    },
    localValue (value) {
      if (value === this.nativeValue) {
        this.$emit('input', value)
      }
    }
  },
  computed: {
    showLabel () {
      return this.label || null
    },
    showErrorMessage () {
      return !!this.$slots['error-message'] && this.validError
    }
  },
  components: {
    vFormGroup: FormGroup,
    vFormMessage: FormMessage
  }
}
</script>

<style lang="sass" scoped>
.form

  &__label
    +font($font-size: $label-font-size, $font-weight: $font-weight-regular, $color: $label-text-color, $line-height: 15px)
    display: block
    position: relative
    margin: $label-margin
    cursor: pointer

    &--error
      color: $danger
      &:before
        border-color: $danger

    &-text
      display: inline-block
      margin-top: 1px
      margin-left: 1.75rem

      &--error
        color: $danger
  
  &__radio
    position: absolute
    top: 0
    width: 1rem
    height: 1rem
    display: inline-block
    border-radius: 1rem
    border: 1px solid $white
    background-color: $white

    &:before
      +pseudo
      position: absolute
      top: .22rem
      left: .25rem
      width: .4rem
      height: .4rem
      z-index: 2
      display: none
      border-radius: 1rem
      background-color: $success

    &--error
      border: 1px solid $danger

  &__radio-input
    +hide-form-filed

    &:checked ~ .form__radio
      &:before,
      &:after  
        display: block  
</style>
