<template lang="pug">
v-form-group(:class="[{ 'block--inline' : inline }]")

  label.form__label.form__label--selection(:class="{ 'form__label--checked' : localValue }" :for="id")

    input.form__selection-input(
           v-model="localValue"
            type="radio"
            :disabled="disabled"
            :required="required"
            :name="name"
            :value="nativeValue"
            v-if="type === 'radio'")

    input.form__selection-input(
           v-model="localValue"
            type="checkbox"
            :disabled="disabled"
            :required="required"
            :name="name"
            :value="nativeValue" 
            v-else)
    
    div.selection-slot
      slot

      span.selection-label(v-show="!hideLabel" v-if="showLabel") {{ label }}

  v-form-message(type="error" v-if="showErrorMessage")
    slot(name="error-message")
</template>

<script>
import FormGroup from '@/components/ui/form/FormGroup'
import FormMessage from '@/components/ui/form/FormMessage'

const types = [ 'checkbox', 'radio' ]

export default {
  name: 'Selectbox',
  data () {
    return {
      localValue: this.value
    }
  },
  props: {
    id: String,
    name: String,
    label: String,
    value: [String, Number, Boolean, Function, Object, Array, Symbol],
    nativeValue: [String, Number, Boolean, Function, Object, Array, Symbol],
    type: {
      type: String,
      default: 'checkbox',
      validator: value => types.includes(value)
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    inline: {
      type: Boolean,
      default: false
    },
    validSuccess: {
      type: [Object, Boolean, String],
      default: false
    },
    validError: {
      type: [Object, Boolean, String],
      default: false
    }
  },
  watch: {
    value (value) {
      this.newValue = value
    },
    localValue (value) {
      this.$emit('input', value)
    }
  },
  computed: {
    showLabel () {
      return !!this.label
    },
    showErrorMessage () {
      return !!this.$slots['error-message'] && this.validError
    }
  },
  components: {
    vFormGroup: FormGroup,
    vFormMessage: FormMessage
  }
}
</script>

<style lang="sass" scoped>
.form

  &__group
    margin-right: .5rem !important
    margin-bottom: .5rem !important
    min-width: 3rem

    &:last-child
      margin-right: 0 !important

  &__label
    min-width: 3rem

    &--selection
      +font($font-size: $label-font-size - 1, $font-weight: $font-weight-regular, $color: $label-text-color, $line-height: 3rem)
      // background-color: $selectionbox-bg-color
      border-radius: $border-radius-md
      display: inline-block
      padding: $selectionbox-padding-sm
      height: $selectionbox-height
      cursor: pointer
      position: relative

      +screen(mobile)
        padding: $selectionbox-padding


    &--checked
      background-color: $white
      box-shadow: $box-shadow-size rgba($box-shadow-color, .1)

      &:after
        +pseudo
        +block
        position: absolute
        top: 7px
        right: 7px
        width: 4px
        height: 4px
        border-radius: 100%
        background-color: $success

  &__selection-input
    +hide-form-filed

.selection-label
  display: inline-block
  margin-left: $icon-slot-margin-right

.selection-slot
  display: flex
  align-items: center
  height: $selectionbox-height
</style>
