<template lang="pug">
v-form-group(:class="[{ 'block--inline' : inline }]")

  label.form__label.form__label--switchbox(:class="{ 'form__label--error' : validError }" :for="id")

    input.form__switchbox-input(
           v-model="localValue"
            type="checkbox"
            :disabled="disabled"
            :required="required"
            :name="name"
            :value="nativeValue")

    span.form__switchbox(:class="[{ 'form__switchbox--success' : validSuccess }, { 'form__switchbox--error' : validError }]")

    span.form__label-text(v-if="showLabel")
      | {{ label }} <slot name="label"></slot>

  v-form-message(type="error" v-if="showErrorMessage")
    slot(name="error-message")
</template>

<script>
import FormGroup from '@/components/ui/form/FormGroup'
import FormMessage from '@/components/ui/form/FormMessage'

export default {
  name: 'Switchbox',
  data () {
    return {
      localValue: this.value
    }
  },
  props: {
    id: String,
    name: String,
    label: String,
    value: [String, Number, Boolean, Function, Object, Array, Symbol],
    nativeValue: [String, Number, Boolean, Function, Object, Array, Symbol],
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    inline: {
      type: Boolean,
      default: false
    },
    validSuccess: {
      type: [Object, Boolean, String],
      default: false
    },
    validError: {
      type: [Object, Boolean, String],
      default: false
    }
  },
  watch: {
    value (value) {
      this.newValue = value
    },
    localValue (value) {
      this.$emit('input', value)
    }
  },
  computed: {
    showLabel () {
      return this.label || !!this.$slots['label'] || null
    },
    showErrorMessage () {
      return !!this.$slots['error-message'] && this.validError
    }
  },
  components: {
    vFormGroup: FormGroup,
    vFormMessage: FormMessage
  }
}
</script>

<style lang="sass" scoped>
.form

  &__label
    +font($font-size: $label-font-size, $font-weight: $font-weight-regular, $color: $label-text-color, $line-height: 15px)
    display: block
    position: relative
    margin: $label-margin
    cursor: pointer

    &--error
      color: $danger
      
      &:after
        border-color: $danger

    &-text
      display: inline-block
      margin-top: 1px
      margin-left: 2.75rem

      &--error
        color: $danger
  
  &__switchbox
    position: absolute
    top: 0
    width: 2rem
    height: 1rem
    display: inline-block
    border-radius: 5px
    border: 1px solid $white
    background-color: $white
  
    &:after
      +pseudo
      position: absolute  
      left: 0  
      width: .85rem
      height: .85rem
      display: block
      border-radius: 100%
      background-color: $dark-gray
      animation: switchToLeft .5s
    
    &--success
      border-color: $success
      &:after
        background-color: $success
    
    &--error
      border-color: $danger
      &:after
        background-color: $danger

  &__switchbox-input
    +hide-form-filed

    &:checked ~ .form__switchbox
      &:after
        left: auto
        right: 0
        background-color: $success
        animation: switchToRight 500ms

// Animations
@-webkit-keyframes switchToRight
  from 
    left: 0
  to
    left: 1rem

@-webkit-keyframes switchToLeft
  from 
    left: 1rem
  to
    left: 0
</style>
