<template lang="pug">
div
	h4.h6(:class="changeTitleTextColor") {{ downloadApp.headline }}
	v-list
		v-list-item(v-for="item in downloadApp.storesList" :key="item.id")
			v-link(:href="item.url")
				v-icon(:name="item.icon")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'DownloadAppStoreList',
	props: {
		titleColor: {
			type: String,
			default: null
		}
	},
	computed: {
		...mapGetters('content', [ 'downloadApp' ]),
		changeTitleTextColor () {
			return this.titleColor ? `text--${this.titleColor}` :  null
		}
	},
}
</script>

<style lang="sass" scoped>
.h6
	display: block

.list

	&__item
		+breakpoint-between(0, $breakpoint-mobile)
			display: inline-block
			margin-right: $list-item-margin
			margin-bottom: 0 !important
</style>
