<template lang="pug">
div.top(:class="{ 'top--has-footer' : !!this.$slots.default }")
	div.lazy.top__content(v-lazy:background-image="addBackgroundImage")
		header.top__header
			v-container
					h1.h1(v-html="title" v-if="title")
					p(v-html="subtitle" v-if="subtitle")

		footer.top__footer(v-if="!!this.$slots.default")
			div.top__footer-container.container
				slot
</template>

<script>
export default {
	name: 'Banner',
	props: {
		title: {
			type: String,
			default: null
		},
		subtitle: {
			type: String,
			default: null
		},
		backgroundImagePath: {
			type: String,
			default: null
		}
	},
	computed: {
		addBackgroundImage () {
			return this.backgroundImagePath ? require('static/images/' + this.backgroundImagePath + '') : ''
		}
	}
}
</script>

<style lang="sass" scoped>
.top
	position: relative

	&--has-footer
		position: relative
		height: $banner-height-has-footer-mobile

		+screen(tablet)
			height: $banner-height-has-footer-desktop

	&__content
		+center-children-verticial
		background-size: auto 100%
		background-repeat: no-repeat
		background-position: 70% top
		height: $banner-height-mobile

		+screen(tablet)
			height: $banner-height-desktop

		+screen(desktop)
	    background-position: center top

	&__header
		padding: 1rem
		width: 100%

	&__footer
		position: absolute
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		height: $banner-footer-height
		background: $banner-footer-bg-color

		.container
			display: flex
			align-items: center
			padding: 1rem
			height: $banner-footer-height
	
	.h1
		position: relative
		z-index: 0
		display: inline-block

		&:after
			content: ''
			right: -4px
			bottom: -10px
			left: -4px
			height: 20px
			z-index: -1
			position: absolute
			background-color: $success
			border-radius: $border-radius-sm
			display: block

			+screen(tablet)
				right: -8px
				left: -8px
				height: 25px
				border-radius: $border-radius-md

			+screen(desktop)
				right: -24px
				left: -24px
				height: 30px
</style>
