<template lang="pug">
div.section.children-center--verticial#zostan-kierowca
	v-container
		v-row
			v-col(size="xs-12 md-4")
				h2.h2(v-html="beOurDriver.title")
				p {{ beOurDriver.description }}

			v-col(size="xs-12 md-7" offset="md-1")
				v-row.panel.text--center
					v-col(size="xs-12 sm-4")
						v-icon(name="monitor-small-active")
						p {{ beOurDriver.monitorTitle }}

					v-col(size="xs-12 sm-4")
						v-icon(name="connector-small-active")
						p {{ beOurDriver.connectorTitle }}

					v-col(size="xs-12 sm-4")
						v-icon(name="api-small-active")
						p {{ beOurDriver.apiTitle }}

					img.lazy.hide--xs.hide--sm(v-lazy="require('static/images/woman-on-the-bike.png')" :alt="beOurDriver.title")

		the-be-our-driver-form
</template>

<script>
import { mapGetters } from 'vuex'
import TheBeOurDriverForm from '@/components/forms/TheBeOurDriverForm'

export default {
	name: 'TheBeOurDriver',
  computed: {
		...mapGetters('content', [ 'beOurDriver', 'form' ])
	},
	components: {
		TheBeOurDriverForm
	}
}
</script>

<style lang="sass" scoped>
.panel
	position: relative
	min-height: 16rem
	
	+screen(mobile)
		+center-children-verticial

		p
			margin: 0

.container
	> .row
		margin-bottom: 3rem

		+screen(desktop)
			margin-bottom: 2.5rem

.lazy
	position: absolute
	bottom: 0
	left: -100px
</style>
