<template lang="pug">
div.contact
  h2.h2
    v-icon(name="pin")
    | {{ contactTitle }}
  h3.h5 {{ companyName }}
  address
    | {{ address }} <br>
    | {{ building }} <br>
    | tel: <v-link :href="`tel:${tel}`">{{ tel }}</v-link> <br>
    | fax: {{ fax }} <br>
    | email: <v-link :href="`email:${email}`">{{ email }}</v-link>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TheContactDetails',
  data () {
  	return {
  		companyName: 'SimpliCity Connect Sp. z o.o.',
  		contactTitle: 'Centrala',
			address: 'ul. Przykładowa 14, 30-281 Warszawa',
			building: 'Budynek Przykładowy, Piętro I',
			tel: '682 742 204',
			fax: '12734194',
			email: 'kontakt@scc.pl'
  	}
  },
  computed: {
    ...mapGetters('content', [ 'contact' ])
  }
}
</script>

<style lang="sass" scoped>
address
	+font($font-weight: $font-weight-regular, $font-size: $font-size-base, $font-family: $font-family-base, $color: $white, $line-height: $line-height)

.h2, .h5
	color: $white

.h2
	margin-bottom: 3rem

	.icon
		margin-right: 2rem

.h5
	font-weight: $font-weight-bold

.contact
	padding: 2rem
	min-height: 300px

	+screen(desktop)
		padding-left: 7rem

	.link
		color: $white
</style>
