<template lang="pug">
no-ssr
	GmapMap(:center="{lat:10, lng:10}" :zoom="7" map-type-id="terrain")
		GmapMarker(:position="marker.position" :clickable="true"
			:draggable="true" @click="center=marker.position")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TheContactMap',
  data () {
  	return {
			marker: 12.23131
  	}
  }
}
</script>
