<template lang="pug">
div.section.children-center--verticial#pobierz-aplikacje
	v-container
		v-panel
			img.lazy.hide--xs(v-lazy="require('static/images/app-and-people.png')" :alt="downloadApp.title")

			v-row
				v-col(size="xs-12 sm-7 md-4" offset="sm-5 md-4")
					h2.h2(v-html="downloadApp.title")
					p {{ downloadApp.description }}

				v-col(size="xs-12 sm-7 md-3" offset="sm-5 md-1")
					v-download-app-store-list
</template>

<script>
import { mapGetters } from 'vuex'
import DownloadAppStoreList from '@/components/DownloadAppStoreList'

export default {
	name: 'TheDownloadTheApp',
	computed: {
		...mapGetters('content', [ 'downloadApp' ])
	},
	components: {
		vDownloadAppStoreList: DownloadAppStoreList
	}
}
</script>

<style lang="sass" scoped>
.section
	overflow: hidden	

	+screen(tablet)
		p
			margin-bottom: 0

.row
	+screen(tablet)
		+center-children-verticial
		min-height: 25rem

.panel
	position: relative
	padding-right: 0
	padding-left: 0
	margin-right: 1rem
	margin-left: 1rem

	+screen(desktop)
		margin-right: 0
		margin-left: 0

	&:after
		+circle(175px)
		+pseudo
		position: absolute
		top: -65px
		right: -65px
		z-index: -1	
		background-color: $red	

	img
		position: absolute
		top: -40px
		left: -30px
</style>
