<template lang="pug">
footer.footer.lazy.children-center--verticial(v-lazy:background-image="require('static/images/city-blue-bg.png')")
	v-container
		v-row

			v-col(size="xs-12 sm-4 md-3")
				v-link.footer__logo(href="/")
					img.lazy(v-lazy="require('static/images/simplicity-connect-white-logo.png')" :alt="companyName")
				p.text--white {{ footer.description }}

			v-col.hide--xs.hide--sm(size="md-2" offset="md-1")
				v-list
					v-list-item(v-for="item in menu" :key="item.id")
						v-link.text--white(:to="item.url" v-scroll-to="item.url" @click="onMenuLinkClick(item.id, item.url)") 
							| {{ item.name }}

			v-col(size="xs-6 sm-2 md-2")
				v-list
					v-list-item(v-for="item in footer.menu" :key="item.id")
						v-link.text--white(:to="item.url" @click="changeActiveMenuItem(null)") {{ item.name }}

			v-col(size="xs-6 sm-3 md-2")
				h4.h6.text--white {{ socialList.headline }}
				v-list(inline)
					v-list-item(v-for="item in socialList.menu" :key="item.id")
						v-link(:href="item.url")
							v-social-icon(:icon="item.icon")

			v-col(size="xs-12 sm-3 md-2")
				v-download-app-store-list(title-color="success")

			v-col
				p.text--white.m__b--0
					| &copy; 2018 <v-link href="/" class="text--white">{{ companyName }}</v-link>
</template>

<script>
import { mapGetters } from 'vuex'
import { scrollMenu } from '@/mixins/scrollMenu'
import SocialIcon from '@/components/ui/SocialIcon'
import DownloadAppStoreList from '@/components/DownloadAppStoreList'

export default {
	name: 'TheFooter',
	mixins: [ scrollMenu ],
	methods: {
		onMenuLinkClick (id, url) {
			this.changeActiveMenuItem(id)
			this.changeRoute(url)
		}
	},
	computed: {
		...mapGetters('content', [ 'companyName', 'socialList', 'footer' ])
	},
	components: {
		vSocialIcon: SocialIcon,
		vDownloadAppStoreList: DownloadAppStoreList
	}
}
</script>

<style lang="sass" scoped>
.footer
	+background-image-setup($footer-bg-color, 100% auto, bottom right)
	padding: 2rem 0

	+screen(tablet)
		background-size: auto
		min-height: $footer-min-height
	
	&__logo
		display: block
		margin-bottom: 1rem

		+screen(desktop)
			margin-bottom: 3rem

			+ p
				margin-bottom: 3rem

	.h6
		display: block

		&.text--white
			margin-bottom: 3rem

.col--md-2
	margin-bottom: 1rem

	+screen(tablet)
		margin-top: 3rem
		margin-bottom: 0
</style>
