<template lang="pug">
div.section.children-center--verticial#jak-to-dziala
	v-container
		v-row
			v-col(size="xs-12 sm-8 md-6" offset="md-1")
				h2.h2 {{ howItWorks.title }}
				p {{ howItWorks.description }}

			v-col(size="xs-12 sm-4 md-3" offset="md-2")
				img.img.lazy.hide--xs(v-lazy="require('static/images/simplicity-connect-logo.png')" :alt="companyName")
				v-btn(type="success") 
					| {{ howItWorks.ctaButton }}
					v-btn-icon
						v-icon(name="btn-icon-arrow-right")
		
		
		v-panel

			img.lazy.img--sun(v-lazy="require('static/images/sun.png')" alt="Słońce")
			img.lazy.img--moon(v-lazy="require('static/images/moon.png')" alt="Księżyc")
			
			v-row
				v-col(size="xs-12 md-3")
					h2.h2 {{ howItWorks.panelTitle }}
					p {{ howItWorks.panelDescription }}
				
				v-col.line.text--center(size="xs-12 md-9" no-padding)
					v-row
						v-col.slide(size="xs-12 sm-4" 
							:class="{ 'slide--active' : activeSlide === 0 }" 
							@mouseover="onStopSlide" 
							@mouseleave="onStartSlide")
							.icons
								v-icon.icon--active(name="monitor-and-mobile-active")
								v-icon(name="monitor-and-mobile")
							p {{ howItWorks.panelMonitor }}

						v-col.slide(size="xs-12 sm-4" 
							:class="{ 'slide--active' : activeSlide === 1 }" 
							@mouseover="onStopSlide" 
							@mouseleave="onStartSlide")
							.icons.line.line--short
								v-icon.icon--active(name="car-2-active")
								v-icon(name="car-2")
							p {{ howItWorks.panelCar }}

						v-col.slide(size="xs-12 sm-4" 
							:class="{ 'slide--active' : activeSlide === 2 }" 
							@mouseover="onStopSlide" 
							@mouseleave="onStartSlide")
							.icons
								v-icon.icon--active(name="shipping-active")
								v-icon(name="shipping")
							p {{ howItWorks.panelShipping }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'TheHowItWorks',
	data () {
		return {
			activeSlide: 0,
			stopSlide: false
		}
	},
	methods: {
		onStopSlide () {
			this.stopSlide = true
			this.activeSlide = null
		},
		onStartSlide () {
			this.stopSlide = false
		},
		slider () {
			let counter = 0
			if (interval) clearInterval(timeout)

			var interval = setInterval(() => {
				if (this.stopSlide)
					return

				if (counter < 2)
					counter++
				else
					counter = 0

				this.activeSlide = counter
			}, 2000)
		}
	},
	computed: {
		...mapGetters('content', [ 
			'companyName',
			'howItWorks',
		])
	},
	mounted () {
		this.slider()
	}
}
</script>

<style lang="sass" scoped>
.section
	overflow: hidden

	+screen(tablet)
		p
			margin-bottom: 0

.row
	position: relative
	
.panel
	position: relative
	margin: 3rem 1rem

	+screen(tablet)
		margin-top: 5rem
		margin-bottom: 5rem

.line
	+screen(mobile)
		&:before
			content: ''
			position: relative    
			top: 48px
			left: 25%
			width: 50%
			height: 1px
			display: block
			background: $panel-bg
			border-bottom: 1px dashed $dark-gray

		&--short
			&:before
				border-bottom: 0 
				top: 47px

.slide

	.icon--active
		opacity: 0
	
	p
		opacity: .5
	
	.icon--active,
	p
		transition: opacity 250ms ease-in-out

	&:hover,
	&.slide--active
		.icon--active,
		p
			opacity: 1

.icons
	position: relative
	height: 50px
	margin-bottom: 1rem

	+screen(mobile)
		margin-bottom: 2rem

	+screen(tablet)
		margin-bottom: 3rem

.icon
	position: absolute
	left: 0
	right: 0
	margin: 0 auto
	padding-bottom: 10px

.img
	display: block
	margin-bottom: 2rem

	&--sun,
	&--moon
		position: absolute

	&--sun
		bottom: -40px
		left: 20px

		+screen(desktop)
			bottom: -10px
			left: -60px

	&--moon
		top: -30px
		right: 15pX

		+screen(desktop)
			top: -25px
			right: -40px
</style>
