<template lang="pug">
header.header
	v-container
		button.burger-btn(
			:aria-label="toggleMenu" 
			:class="{ 'burger-btn--active' : showMobileNav }" 
			@click="toggleMobileNav"
		)
			span.burger-btn__line
			span.burger-btn__line
			span.burger-btn__line

		v-link.logo(href="/")
			img.lazy.logo__img(v-lazy="require('static/images/simplicity-connect-logo.png')" :alt="companyName")
		
		nav.menu(:class="{ 'menu--active' : showMobileNav }")
			v-link.menu__link(
				:class="{ 'menu__link--active' : activeMenuItem === item.id }"
				:href="item.url"
				v-scroll-to="item.url" 
				v-for="item in menu" 
				:key="item.id"
				@click="onMenuLinkClick(item.id, item.url)") {{ item.name }}

			template(v-if="!isUserAuthenticated")
				button.menu__btn(@click="toggleLoginModal") {{ loginBtn }}
				button.menu__btn(@click="toggleRegisterModal") {{ registerBtn }}

		div.menu__alpha(
			:aria-label="closeMenu" 
			:class="{ 'menu__alpha--active' : showMobileNav }" 
			@click="toggleMobileNav"
		)

		v-modal(size="sm" v-if="showLoginModal" @close="toggleLoginModal")
			the-login-modal(@closeModal="toggleAuthModal" @changeRoute="onChangeRouteFromModal")

		v-modal(size="lg" no-padding v-if="showRegisterModal" @close="toggleRegisterModal")
			the-register-modal(@closeModal="toggleAuthModal")
</template>

<script>
import { mapGetters } from 'vuex'
import { scrollMenu } from '@/mixins/scrollMenu'
import Modal from '@/components/ui/Modal'
import TheLoginModal from '@/components/modals/TheLoginModal'
import TheRegisterModal from '@/components/modals/TheRegisterModal'

export default {
	name: 'TheHeader',
	mixins: [ scrollMenu ],
	data () {
		return {
			showLoginModal: false,
			showRegisterModal: false,
			showMobileNav: false
		}
	},
	methods: {
		onMenuLinkClick (id, url) {
			this.changeActiveMenuItem(id)
			this.changeRoute(url)
			this.onCloseMenu()
		},
		toggleMobileNav () {
			this.showMobileNav = !this.showMobileNav
		},
		onCloseMenu () {
			if (this.showMobileNav)
				this.showMobileNav = false
		},
		onChangeRouteFromModal () {
			this.showLoginModal = false
			this.showRegisterModal = false
		},
		toggleAuthModal () {
			this.toggleLoginModal()
			this.toggleRegisterModal()
		},
		toggleLoginModal () {
			this.showLoginModal = !this.showLoginModal
			this.onCloseMenu()
		},
		toggleRegisterModal () {
			this.showRegisterModal = !this.showRegisterModal
			this.onCloseMenu()
		}
	},
	computed: {
		...mapGetters('user', [ 'isUserAuthenticated' ]),
		...mapGetters('content', [ 'companyName', 'loginBtn', 'registerBtn', 'toggleMenu', 'closeMenu' ]),
	},
	components: {
		vModal: Modal,
		TheLoginModal,
		TheRegisterModal
	}
}
</script>

<style lang="sass" scoped>
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 999
	background-color:	rgba($gray, .9)

	> .container
		height: $header-height-mobile

		+screen(mobile)
			display: flex
			height: $header-height-desktop

		+screen(desktop)
			max-width: $header-width

.burger-btn
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: -5px
	width: $header-height-mobile
	z-index: 950
	background: transparent
	border: 0
	cursor: pointer

	&--active
  	.burger-btn__line
  		&:first-child
  			transform: rotate(-45deg) translate(-4px, 3px)
  		&:nth-child(2)
  			opacity: 0
  		&:nth-child(3)
  			transform: rotate(45deg) translate(-7px, -6px)

	&__line
		width: 25px
		height: 3px
		margin: 4px 5px
		display: block
		background-color: $text-color
		border-radius: 3px
		transition: opacity, transform 150ms ease-in-out

	+screen(mobile)
		display: none

.logo,
.menu
	+screen(mobile)
		display: inline-flex
		align-items: center
		margin-right: 1rem
		margin-left: 1rem

.logo
	text-align: center
	padding: 9px 0
	display: block

	+screen(mobile)
		text-align: legt
		padding: 18px 0

.menu
	position: fixed
	top: 0
	left: -20rem
	bottom: 0
	padding: 4rem 2rem
	width: 17rem
	z-index: 900
	box-shadow: 0 0 50px 5px rgba($black, .1)
	background-color: $white
	transition: left 150ms ease-in-out

	&--active
		left: 0

	+screen(mobile)
		position: relative
		left: auto
		padding: 0
		width: auto
		box-shadow: none
		background-color: transparent
		margin-left: auto
	
	&__alpha
		position: fixed
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: 850
		display: none
		background-color: rgba($gray-secondary, .75)

		&--active
			display: block
		
		+screen(mobile)
			display: none !important

	&__link,
	&__btn	
		color: $text-color
		text-align: left
		display: block
		padding: 15px
		cursor: pointer
		transition: color .25s ease-in-out
		
		&:hover,
		&--active
			color: $success

		+screen(large-desktop)
			padding-right: 35px
			padding-left: 35px

	&__btn
		background: transparent
		border: 0
		width: 100%

		+screen(mobile)
			width: auto
</style>
