<template lang="pug">
div.section.lazy.children-center--verticial#integracje(v-lazy:background-image="require('static/images/city-gray-bg.png')")
	v-container
		v-row(@mouseover="onPanelHover" @mouseleave="onPanelLeave")

			v-col(size="xs-12 md-4" no-padding)
				v-panel
					div.icons
						v-icon.icon--active(name="connector-active")
						v-icon(name="connector")

					h2.h2(v-html="integrations.pluginsEcommerceTitle")
					p {{ integrations.pluginsEcommerceDescription }}

					v-list
						v-list-item.clearfix
							v-icon.float--left(name="wordpress")
							v-btn.float--right(size="sm" btn-link)
								v-btn-icon
									v-icon(name="btn-icon-download")
								| {{ download }}
						v-list-item.clearfix
							v-icon.float--left(name="prestashop")
							v-btn.float--right(size="sm" btn-link)
								v-btn-icon
									v-icon(name="btn-icon-download")
								| {{ download }}

			v-col(size="xs-12 md-4" :class="{ 'col--active' : activePanel }" no-padding)
				v-panel
					div.icons
						v-icon.icon--active(name="monitor-active")
						v-icon(name="monitor")

					h2.h2(v-html="integrations.pluginsWebTitle")
					p {{ integrations.pluginsWebDescription }}

					v-btn(type="success") 
						v-btn-icon
							v-icon(name="btn-icon-download")
						| {{ download }}

			v-col(size="xs-12 md-4" no-padding)
				v-panel
					div.icons
						v-icon.icon--active(name="api-active")
						v-icon(name="api")

					h2.h2(v-html="integrations.pluginsApiTitle")
					p {{ integrations.pluginsApiDescription }}

					div.clearfix
						span.float--left {{ downloadDocumentation }}
						v-btn.float--right(size="sm" btn-link)
							v-btn-icon
								v-icon(name="btn-icon-arrow-right")
							| {{ read }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'TheIntegrations',
	data () {
		return {
			activePanel: true
		}
	},
	methods: {
		onPanelHover () {
			this.activePanel = false
		},
		onPanelLeave () {
			this.activePanel = true
		}
	},
	computed: {
		...mapGetters('content', [ 
			'read',
			'download',
			'downloadDocumentation', 
			'integrations'
		])
	}
}
</script>

<style lang="sass" scoped>
.section
	+background-image-setup($body-bg-secondary, auto, bottom right)
	overflow: hidden
	position: relative

	+screen(tablet)
		background-size: auto
		padding: 0

		&:before
			+circle(268px)
			+pseudo
			position: absolute
			top: -134px
			right: -134px
			z-index: 0	
			background-color: $green	

.icons
	position: relative
	height: 51px

	+screen(mobile)
		margin-bottom: 1rem
	
	.icon
		position: absolute
		top: 0
		right: 0
		transition: opacity 250ms ease-in-out

		&--active
			opacity: 0

.panel
	position: relative
	z-index: 1
	background: transparent

.row
	margin-right: 1rem
	margin-left: 1rem

	+screen(desktop)
		margin-right: 0
		margin-left: 0

.row,
.col
	+block-flex
	flex-wrap: wrap

.col
	border-radius: $panel-border-radius
	flex-direction: column
	transition: background-color, box-shadow 250ms ease-in-out

	&:hover,
	&.col--active	
		background-color: $panel-bg-active
		box-shadow: $panel-shadow

		.icons
			.icon
				opacity: 0

			.icon--active
				opacity: 1

	.h2
		margin-bottom: 50px

.float--left
	margin-top: 5px
</style>
