<template lang="pug">
div.section
	div.clearfix
		section.lazy.map(v-lazy:background-image="require('static/images/map-placeholder-bg.png')")
			h1.h1(v-html="headlineH1")
			
		div.lazy.form(v-lazy:background-image="require('static/images/map-form-bg.png')")
			no-ssr
				the-delivery-form(v-if="isBrowser")

	v-container.hide--xs
		v-list(inline)
			v-list-item {{ ourSuppliersTitle }}
			v-list-item(v-for="item in ourSuppliers" :key="item.id")
				v-icon(:name="item.icon")
				| {{ item.name }}
</template>

<script>
import { mapGetters } from 'vuex'
import TheDeliveryForm from '@/components/forms/TheDeliveryForm'

export default {
	name: 'TheMap',
	data () {
    return {
    	isBrowser: process.browser,
    	markers: []
    }
  },
	computed: {
		...mapGetters('content', [ 
			'headlineH1', 
			'ourSuppliersTitle',
			'ourSuppliers'
		])
	},
	components: {
		TheDeliveryForm
	},
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>

<style lang="sass" scoped>
.section
	padding: $header-height-mobile 0 0 0
	margin: 0
	min-height: initial

	+screen(mobile)
		padding: $header-height-desktop 0 0 0

.map,
.form
	position: relative

	+screen(tablet)
		height: 770px
		float: left

.map
	background-size: cover
	background-repeat: no-repeat
	background-position: center left
	display: none
	width: 100%

	+screen(tablet)
		display: block
		width: calc(100% - 270px)

	+screen(desktop)
		width: calc(100% - 432px)

	+screen(large-desktop)
		width: calc(100% - 550px)

.form
	background-size: contain
	background-repeat: no-repeat
	background-position: center right
	padding: 1rem

	+screen(tablet)
		background-size: cover
		width: 270px
		left: -40px
		padding: 0

	+screen(desktop)
		width: 432px
		left: -45px

.h1
	position: absolute
	z-index: 0
	padding: 0 1rem
	display: inline-block

	+screen(tablet)
		top: 35%
		left: 5%

	+screen(desktop)
		left: 10%

	+screen(1300px)
		left: 15%
	
	+screen(1600px)
		left: 25%

	&:after
		content: ''
		right: 0
		bottom: -10px
		left: 0
		height: 20px
		z-index: -1
		position: absolute
		background-color: $white
		border-radius: $border-radius-sm
		display: block

		+screen(tablet)
			height: 25px
			border-radius: $border-radius-md

		+screen(desktop)
			height: 30px

.list
	margin: 1rem !important

	&__item
		margin: 0 1rem 0 0 !important

		+screen(desktop)
			margin-right: 3rem !important

	.icon
		position: relative
		top: 5px
		margin-right: 1rem
</style>
