<template lang="pug">
nav.sidebar-nav
	v-link.sidebar-nav__link(
		:class="{ 'sidebar-nav__link--active' : activeMenuItem === item.id }"
		:href="item.url" 
		v-scroll-to="item.url" 
		v-for="item in menu" 
		:key="item.id"
		@click="changeActiveMenuItem(item.id)") 
		span {{ item.name }}
</template>

<script>
import { scrollMenu } from '@/mixins/scrollMenu'

export default {
	name: 'TheSidebarNav',
	mixins: [ scrollMenu ]
}
</script>

<style lang="sass" scoped>
.sidebar-nav
	position: fixed
	top: 50%
	z-index: 600
	margin-top: -140px
	display: none

	+screen(desktop)
		left: 35px
		display: block

	@media (min-width: 1600px)
		left: 50px

	&:before
		+pseudo
		position: absolute
		top: 26px
		left: 3px
		bottom: 26px
		width: 1px
		z-index: -1	
		background-color: $default

	&__link
		color: $text-color
		display: block
		padding-top: 25px
		padding-bottom: 25px

		&:before
			+circle(8px)
			+pseudo($display: inline-block)
			background-color: $default
			margin-right: 20px
			opacity: .85
			transform: scale(1)
			transition: opacity, transform 250ms ease-in-out

		&:hover,
		&--active

			&:before
				background-color: $success
				opacity: 1
				transform: scale(1.5)

		span
			display: none

			@media (min-width: 1600px)
				display: inline
</style>
