<template lang="pug">
i.icon(:class="name")
</template>

<script>
export default {
	name: 'Icon',
  props: {
  	name: {
  		type: String,
  		default: null
  	}
  }
}
</script>

<style lang="sass" scoped>
.icon
	display: inline-block
</style>