<template lang="pug">
transition(name="show")
  div.modal
    div.modal__outer(:class="`modal__outer--${size}`")
      div.modal__inner
        div.modal__content

          button.modal__close(aria-label="Zamknij modal rejestracji" @click="onClose")

          div.modal__body(:class="{ 'modal__body--no-padding' : noPadding }")
            slot

    div.modal__mask(@click="onClose")
</template>

<script>
const sizes = ['sm', 'md', 'lg']

export default {
  name: 'Modal',
  props: {
    noPadding: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: 'md',
      validator: value => sizes.includes(value)
    }
  },
  methods: {
    onClose () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="sass">
.modal
  position: fixed
  z-index: 999
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow-y: auto

  &__mask
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 990
    background-color: rgba($gray-secondary, .75)
    box-shadow: $box-shadow-size-hover $box-shadow-color-hover
    transition: opacity .3s ease

  &__outer
    +block-table
    width: 96%
    height: 98vh
    margin: 1vh auto

    +screen(mobile)
      &--sm
        width: 24rem

      &--md
        width: 28rem

      &--lg
        width: 54rem

    +screen(tablet)
      &--sm
        width: 26rem

      &--md
        width: 32rem

      &--lg
        width: 65rem

    +screen(desktop)
      &--sm
        width: 30rem

      &--md
        width: 35rem

      &--lg
        width: 70rem

  &__inner
    +block-table-cell
    vertical-align: middle

  &__content
    position: relative
    z-index: 995
    min-height: 20rem
    background-color: $gray
    border-radius: $border-radius-lg
    transition: transform 250ms ease

  &__close
    +button-unstyled
    +error-pseudo-icon
    position: absolute
    top: -8px
    right: 0px
    width: 2rem
    height: 2rem

    +screen(tablet)
      top: 10px
      right: 15px
    
    &:before,
    &:after
      right: .6rem
      background-color: $gray-secondary

  &__body
    padding: 1.5rem

    +screen(tablet)
      padding: 3rem

    &--no-padding
      padding: 0 !important

// Animations
.show

  &-enter
    opacity: 0

    &-active
      transition: opacity 150ms ease-out

      .modal__content
        transform: translateY(-50px)
        transition: transform .25s ease-out

  &-leave

    &-active
      opacity: 0
      transition: opacity 150ms ease-out

      .modal__content
        transform: translateY(50px)
        transition: transform 250ms ease-out
</style>
