<template lang="pug">
span.popover(v-on-clickaway="away")

	transition(name="slideDown")
		span.popover__content(:class="classes" v-show="show")

			span.popover__close(@click="toggle" v-if="closeBtn") &times;

			span.popover__icon
				slot(name="icon")

			span.popover__title
				slot(name="title")

			span.popover__mess
				slot(name="message")

	span(@click="toggle") 
		| {{ trigger }} 
		slot(name="trigger")
</template>

<script>
/*
 * Reusable clickaway directive for reusable Vue.js components
 * from there: https://github.com/simplesmiler/vue-clickaway
 */
import { mixin as clickaway } from 'vue-clickaway'

export default {
	name: 'Popover',
  mixins: [ clickaway ],
  data () {
    return {
    	classes: [
    		{ 'popover__content--info' : this.info }, 
    		{ 'popover__content--success' : this.success }, 
    		{ 'popover__content--warning' : this.warning }, 
    		{ 'popover__content--danger' : this.danger }
    	],
      show: false
    }
  },
  props: {
  	trigger: {
  		type: String,
  		default: null
  	},
  	closeBtn: {
  		type: Boolean,
  		default: false
  	},
  	info: {
  		type: Boolean,
  		default: false
  	},
  	success: {
  		type: Boolean,
  		default: false
  	},
  	warning: {
  		type: Boolean,
  		default: false
  	},
  	danger: {
  		type: Boolean,
  		default: false
  	}
  },
  methods: {
    away () {
      this.show = false
    },
    toggle () {
      this.show = !this.show
    }
  }
}
</script>

<style lang="sass" scoped>
.popover
	position: relative
	cursor: pointer
	border-bottom: 1px dashed rgba($text-color, .25)

	&__content
		position: absolute
		left: $popover-content-left
		bottom: $popover-content-bottom
		margin-left: $popover-content-margin-left
		width: $popover-content-white
		max-height: $popover-content-max-height
		z-index: 999
		background-color: $popover-content-bg-color
		border-radius: $popover-content-border-radius
		border: 1px solid $popover-content-border-color
		display: block
		padding: $popover-content-padding

		&:before
			+triangle($color: $white, $direction: 'down', $size: $popover-triangle-size, $round: false)
			content: ''
			position: absolute
			left: 50%
			bottom: -$popover-triangle-size
			margin-left: -$popover-triangle-size

		&--info
			border-color: $info

			&:before
				+triangle($color: $info, $direction: 'down', $size: $popover-triangle-size, $round: false)

		&--success
			border-color: $success

			&:before
				+triangle($color: $success, $direction: 'down', $size: $popover-triangle-size, $round: false)

		&--warning
			border-color: $warning

			&:before
				+triangle($color: $warning, $direction: 'down', $size: $popover-triangle-size, $round: false)

		&--danger
			border-color: $danger

			&:before
				+triangle($color: $danger, $direction: 'down', $size: $popover-triangle-size, $round: false)

	&__title 
		+font($font-weight: $popover-title-font-weight, $font-size: $popover-title-font-size, $font-family: $font-family-base, $color: $popover-title-text-color)

	&__mess 
		+font($font-weight: $popover-mess-font-weight, $font-size: $popover-mess-font-size, $font-family: $font-family-base, $color: $popover-mess-text-color)
		display: block
		max-height: $popover-mess-max-height
		overflow-y: auto
	
	&__icon
		position: absolute
		top: $popover-icon-top
		right: $popover-icon-right

	&__close
		position: absolute
		top: $popover-close-top
		right: $popover-close-right
		width: $popover-close-width
		height: $popover-close-height
		border-radius: 100%
		background-color: $popover-close-bg-color
		font-size: $popover-close-font-size
		color: $popover-close-text-color
		line-height: $popover-close-font-size
		text-align: center
		cursor: pointer

// Animation
.slideDown

	&-enter

		&-active
			animation: slideUp .15s ease-in forwards

	&-leave

		&-active
			animation: slideDown .15s ease-out forwards

	@keyframes slideDown 
		from
			opacity: 1
			transform: translateY(0)
		to
			opacity: 0
			transform: translateY(-20px)

		@keyframes slideUp 
			from
				opacity: 0
				transform: translateY(-20px)
			to
				opacity: 1
				transform: translateY(0)
</style>