<template lang="pug">
a.social-btn(:class="socialType" :href="href") 
	slot
</template>

<script>
const socials = [ 'facebook', 'google' ]

export default {
	name: 'SocialButton',
	props: {
		social: {
			type: String,
			default: null,
			validator: value => socials.includes(value)
		},
		href: {
			type: String,
			default: null
		}
	},
	computed: {
		socialType () {
			return this.social ? `social-btn--${this.social}` : null
		}
	}
}
</script>

<style lang="sass" scoped>
.social-btn
	+button-unstyled
	+block
	+font($font-weight: $font-weight-regular, $font-size: $button-font-size-sm - 0.2, $font-family: $font-family-base, $color: $white, $line-height: $button-social-height)
	text-align: center
	background-color: $primary
	border-radius: $border-radius-md
	padding: 0 1rem
	margin-bottom: 1rem
	height: $button-social-height
	position: relative
	transition: background-color 250ms ease-in-out
	
	+screen(modal)
		$font-size: $button-font-size-sm

	+screen(tablet)
		$font-size: $button-font-size-lg

	.icon
		position: absolute
		top: 11px
		left: 11px

	&--facebook
		background-color: $facebook-color
		&:hover
			background-color: darken($facebook-color, 10%)

	&--google
		background-color: $google-color
		&:hover
			background-color: darken($google-color, 10%)
</style>
