<template lang="pug">
span.social-icon
	v-icon(:name="icon")
</template>

<script>
import Icon from '@/components/ui/Icon'

export default {
	name: 'SocialIcon',
  props: {
  	icon: {
  		type: String,
  		default: null
  	}
  },
  components: {
  	vIcon: Icon
  }
}
</script>

<style lang="sass" scoped>
.social-icon
	background-color: $social-icon-bg
	border-radius: $border-radius-md
	display: flex
	align-items: center
	justify-content: center
	width: $social-icon-size
	height: $social-icon-size
	transition: opacify .15s linear
	
	&:hover,
	&:focus	
		opacity: .9
</style>