<template lang="pug">
span.tooltip(:data-tooltip="message")
	slot
</template>

<script>
export default {
	name: 'Tooltip',
  props: {
    message: String
  }
}
</script>

<style lang="sass" scoped>
.tooltip
	border-bottom: 1px dashed rgba($text-color, .25)
	cursor: pointer

[data-tooltip] 
	position: relative
	cursor: pointer

	&:hover
		&:before,
		&:after 
			visibility: visible
			opacity: 1

	&:before,
	&:after 
		position: absolute
		left: 50%
		bottom: 100%
		z-index: 99
		opacity: 0
		visibility: hidden
		pointer-events: none
		box-sizing: border-box

	&:before 
		+font($font-weight: 400, $font-size: $tooltip-font-size, $font-family: $font-family-base, $color: $tooltip-text-color, $line-height: 1.2)
		text-align: center
		content: attr(data-tooltip)
		background-color: $tooltip-bg-color
		border-radius: $border-radius-md
		padding: $tooltip-padding
		margin-bottom: $tooltip-margin-bottom
		margin-left: -($tooltip-width / 2)
		width: $tooltip-width
		transition: opacity .5s ease-in-out

	&:after 
		+triangle($color: $black, $direction: 'down', $size: 5px, $round: false)
		content: ''
		margin-left: -5px
		transition: opacity .25s ease-in-out
</style>
