<template lang="pug">
h1.h1 Przypomnij Hasło
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PrzypomnijHaslo',
  head () {
    return {
      title: this.head.rememberPass.title,
      meta: [
        { hid: 'description', name: 'description', content: this.head.rememberPass.description }
      ]
    }
  },
  computed: {
    ...mapGetters('content', [ 'head' ])
  }
}
</script>

