// ===
// Button
.btn
  +button-unstyled
  +font($font-weight: $font-weight-regular, $font-size: $font-size-sm, $font-family: $font-family-base, $color: $text-color)
  text-align: center
  background-color: $white
  box-shadow: $box-shadow-size $box-shadow-color
  display: inline-block
  position: relative
  z-index: 1
  overflow: hidden !important
  transition: 100ms color, box-shadow ease

  &:after
    content: ''
    position: absolute
    top: -10px
    bottom: -10px
    width: 0
    z-index: -1
    display: block
    border-radius: 3.333rem 0 0 3.333rem
    transition: width 200ms ease-in-out

  &--default
    background-color: $light-gray   

  +button-type('default', $default)

  +button-type('primary', $primary)

  +button-type('success', $success)

  +button-type('info', $info)

  +button-type('warning', $warning)

  +button-type('danger', $danger)

  +button-size('sm', $button-font-size-sm, $border-radius-sm, $button-height-sm, $button-padding-sm-left, $button-padding-sm-right, $button-icon-width-sm, $button-icon-margin-sm)

  +button-size('md', $button-font-size-md, $border-radius-md, $button-height-md, $button-padding-md-left, $button-padding-md-right, $button-icon-width-md, $button-icon-margin-md)

  +button-size('lg', $button-font-size-lg, $border-radius-lg, $button-height-lg, $button-padding-lg-left, $button-padding-lg-right, $button-icon-width-lg, $button-icon-margin-lg)

  &:hover,
  &:focus
    color: $text-color
    
    &:after
      width: 150%

  &__icon
    position: absolute
    top: -10px
    bottom: -10px
    z-index: 0
    display: flex
    align-items: center
    justify-content: center
    background-color: $success
    transition: .15s width ease

  &--right

    .btn__icon
      right: 0
      border-radius: 3.333rem 0 0 3.333rem

  &--left

    .btn__icon
      left: 0
      border-radius: 0 3.333rem 3.333rem 0

  &--block
    +block

  &--disabled
    cursor: no-drop
    opacity: .5

    &:hover
      box-shadow: $box-shadow-size $box-shadow-color
      color: $text-color
      opacity: .5

      &:after
        width: 0

  // Buutton link
  &.btn--link
    background-color: transparent
    box-shadow: none

    &:after
      border-radius: $border-radius-sm
      width: 100%
      opacity: 0
      transition: opacity 200ms ease-in-out

    &:hover,
    &:focus

      &:after
        opacity: 1

    .btn__icon
      width: $button-link-icon-size
      height: $button-link-icon-size
      border-radius: $button-link-icon-size * 2
