// ===
// Headings
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
	+font($font-weight: $font-weight-regular, $font-size: $font-size-lg, $font-family: $font-family-headline, $color: $headline-color, $line-height: $headline-line-height)
	padding: 0
	margin: $headline-margin-mobile

	+screen(tablet)
		margin: $headline-margin-desktop

.h1
	font-size: $font-size-sm-h1

	+screen(tablet)
		font-size: $font-size-md-h1

	+screen(desktop)
		font-size: $font-size-lg-h1

.h2
	font-size: $font-size-sm-h2

	+screen(tablet)
		font-size: $font-size-md-h2

	+screen(desktop)
		font-size: $font-size-lg-h2

.h3
	font-size: $font-size-sm-h3

	+screen(tablet)
		font-size: $font-size-md-h3

	+screen(desktop)
		font-size: $font-size-lg-h3

.h4
	font-size: $font-size-sm-h4

	+screen(tablet)
		font-size: $font-size-md-h4

	+screen(desktop)
		font-size: $font-size-lg-h4

.h5
	font-size: $font-size-sm-h5

	+screen(tablet)
		font-size: $font-size-md-h5

	+screen(desktop)
		font-size: $font-size-lg-h5

.h6
	font-size: $font-size-sm-h6

	+screen(tablet)
		font-size: $font-size-md-h6

	+screen(desktop)
		font-size: $font-size-lg-h6

.h5,
.h6
	margin-bottom: $headline-margin-bottom-small
