// ===
// Link
.link,
.nuxt-link
  color: $link-color
  text-decoration: none
  cursor: pointer
  transition: color .25s ease-in-out

  &:hover
    color: $link-color-hover
  
  &--active,
  &.nuxt-link-exact-active,
  &.nuxt-link-active,
  &.nuxt-link-exact-active.nuxt-link-active
    color: $link-color-hover

  &--disabled
  	color: $link-color-disabled
  	cursor: no-drop

  	&:hover
  		color: $link-color-disabled
    