// ===
// Mixins
=selection
	::-moz-selection
      @content

	::selection
      @content


=placeholder
	&.placeholder
    @content

	&:-moz-placeholder
    @content

	&::-moz-placeholder
    @content

	&:-ms-input-placeholder
    @content

	&::-webkit-input-placeholder
    @content


=list-unstyled
	list-style: none
	padding: 0
	margin: 0


=button-unstyled
  background-color: transparent
  border: 0
  text-decoration: none
  cursor: pointer


// Button sizes generator
=button-size($class-name, $font-size, $border-radius, $button-height, $button-padding-right, $button-padding-left, $button-icon-width, $button-icon-margin)
  &--#{$class-name}
    font-size: $font-size
    line-height: $button-height
    border-radius: $border-radius
    height: $button-height

    &.btn--link
      .btn__icon
        top: $button-icon-margin
        right: $button-icon-margin
    
    &.btn--left
      padding: $button-padding-left

      &:after
        left: 0

      .btn__icon
        width: $button-icon-width
    
    &.btn--right
      padding: $button-padding-right
      
      &:after
        right: 0

      .btn__icon
        width: $button-icon-width


// Buttons types generator
=button-type($class-name, $background-color)
  &--#{$class-name}
    &:after,
    .btn__icon
      background-color: $background-color

    &:focus
      .btn__icon
        background-color: darken($background-color, 5%)

    &.btn--active
      .btn__icon
        border-radius: 0
        width: 100%


// Background image setup
=background-image-setup($color, $size, $position)
  background-color: $color
  background-size: $size
  background-repeat: no-repeat
  background-position: $position


=block
  display: block
  width: 100%


=block-inline
  display: inline-block


=block-table
  display: table


=block-table-cell
  display: table-cell


=block-flex
  display: flex


=center-block
  display: block
  margin-left: auto
  margin-right: auto


=clearfix
  zoom: 1

  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both


// Basic styles for &:before and &:after
=pseudo($content: '', $display: block)
  content: $content
  display: $display


=circle($size)
	border-radius: 50%
	display: flex
	width: $size
	height: $size


=triangle($color, $direction, $size: 6px, $round: false)
  width: 0
  height: 0

  @if $round
      border-radius: 3px

  @if $direction == down
      border-left: $size solid transparent
      border-right: $size solid transparent
      border-top: $size solid $color
      margin-top: 0 - round( $size / 2.5 )

  @else if $direction == up
      border-left: $size solid transparent
      border-right: $size solid transparent
      border-bottom: $size solid $color
      margin-bottom: 0 - round( $size / 2.5 )

  @else if $direction == right
      border-top: $size solid transparent
      border-bottom: $size solid transparent
      border-left: $size solid $color
      margin-right: -$size

  @else if  $direction == left
      border-top: $size solid transparent
      border-bottom: $size solid transparent
      border-right: $size solid $color
      margin-left: -$size


=font($font-weight: $font-weight-regular, $font-size: $font-size-base, $font-family: $font-family-base, $color: $text-color, $line-height: $line-height)
  font-family: $font-family
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  color: $color
  line-height: $line-height


=font-size($size, $base: 12)
  font-size: $size // fallback for old browsers
  font-size: $size / $base * 1rem


// Cut the line
=truncate($truncation-boundary)
  max-width: $truncation-boundary
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


=hide
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  clip: rect(1px, 1px, 1px, 1px)


=hide-form-filed
  position: absolute
  visibility: hidden


=center-children-verticial
  display: flex
  align-items: center  


=screen($size)
  @if $size == desktop
    @media #{$desktop}
      @content

  @else if $size == tablet
    @media #{$tablet}
      @content

  @else if $size == mobile
    @media #{$mobile}
      @content

  @else
    @media (min-width: #{$size})
      @content


// =breakpoint-between($minWidthRem, $maxWidthRem)
//   // Remove rem unit form the string
//   $minWidthPx: strip-unit($minWidthRem) 
//   $maxWidthPx: strip-unit($maxWidthRem)
//   // Count pixels from rem value
//   $minWidth: breakpoint-min($minWidthPx, 12)
//   $maxWidth: breakpoint-max($maxWidthPx, 12)

//   @media (min-width: #{$minWidth}) and (max-width: #{$maxWidth})
//     @content

=breakpoint-between($minWidth, $maxWidth)
  $min: strip-unit($minWidth) 
  $max: strip-unit($maxWidth)

  @media (min-width: #{$min}px) and (max-width: #{$max - 1}px)
    @content


// Columns generator
=col($size, $num)
  &--#{$size}-#{$num}
    width: calc(#{$num}/12 * 100%)

  &--offset-#{$size}-#{$num}
    margin-left: calc(#{$num}/12 * 100%)

  &--clear-offset-#{$size}
    margin-left: 0


// Generate check icon using css pseudo classes
=check-pseudo-icon
  &:before,
  &:after
    +pseudo
    position: absolute
    border-radius: 2px
    background-color: $success

  &:before
    left: .25rem
    top: 0.6rem
    width: .8rem
    height: 2px
    transform: rotate(-38deg)

  &:after
    left: 0
    top: 0.6rem
    width: .4rem
    height: 2px
    transform: rotate(45deg)


// Generate error icon using css pseudo classes
=error-pseudo-icon
  &:before,
  &:after
    +pseudo
    position: absolute
    // bottom: 0.96rem
    top: 1.4rem
    right: 1.2rem
    width: .8rem
    height: 2px
    border-radius: 2px
    background-color: $danger

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(-45deg)


// Generate plus icon using css pseudo classes
=plus-pseudo-icon
  &:before,
  &:after
    +pseudo
    position: absolute
    bottom: 0.96rem
    right: 1.2rem
    width: .8rem
    height: 2px
    border-radius: 2px
    background-color: $danger

  &:after
    transform: rotate(90deg)


// Generate arrow-down icon using css pseudo classes
=arrow-down-pseudo-icon
  &:before,
  &:after
    +pseudo
    position: absolute
    top: 50%
    right: 2rem
    width: .8rem
    height: 2px
    border-radius: 2px
    background-color: $text-color
    transform: rotate(-45deg)
    transition: transform 200ms ease-in-out

  &:after
    right: 2.5rem
    transform: rotate(45deg)
         