// ===
// Panel
.panel
	background-color: $panel-bg
	border-radius: $panel-border-radius
	padding: $panel-padding-mobile
	
	+screen(tablet)
		padding: $panel-padding-tablet
		
	+screen(desktop)
		padding: $panel-padding-desktop
	
	&--has-bg
		background-color: $panel-bg-active

	&--has-shadow
		box-shadow: $box-shadow-size-hover $box-shadow-color

	&--active
		background-color: $panel-bg-active
		box-shadow: $panel-shadow
