// Section
.section
	padding-top: $header-height-mobile + 5
	padding-bottom: $header-height-mobile + 5
	min-height: 100vh 

	+screen(mobile)
		padding-top: $header-height-desktop + 5
		padding-bottom: $header-height-desktop + 5
