.google-play { background-image: url('~assets/images/sprite.png'); background-position: 0 0; width: 128px; height: 38px; }
.app-store { background-image: url('~assets/images/sprite.png'); background-position: 0 -38px; width: 126px; height: 37px; }
.monitor-and-mobile-active { background-image: url('~assets/images/sprite.png'); background-position: 0 -75px; width: 61px; height: 49px; }
.monitor-and-mobile { background-image: url('~assets/images/sprite.png'); background-position: -61px -75px; width: 61px; height: 49px; }
.car-2-active { background-image: url('~assets/images/sprite.png'); background-position: -128px 0; width: 57px; height: 49px; }
.car-2 { background-image: url('~assets/images/sprite.png'); background-position: -128px -49px; width: 57px; height: 49px; }
.monitor { background-image: url('~assets/images/sprite.png'); background-position: 0 -124px; width: 53px; height: 51px; }
.monitor-active { background-image: url('~assets/images/sprite.png'); background-position: -53px -124px; width: 53px; height: 51px; }
.shipping-active { background-image: url('~assets/images/sprite.png'); background-position: -106px -124px; width: 54px; height: 50px; }
.shipping { background-image: url('~assets/images/sprite.png'); background-position: -185px 0; width: 54px; height: 50px; }
.connector { background-image: url('~assets/images/sprite.png'); background-position: -185px -50px; width: 48px; height: 49px; }
.connector-active { background-image: url('~assets/images/sprite.png'); background-position: -185px -99px; width: 48px; height: 49px; }
.api { background-image: url('~assets/images/sprite.png'); background-position: 0 -175px; width: 46px; height: 46px; }
.api-active { background-image: url('~assets/images/sprite.png'); background-position: -46px -175px; width: 46px; height: 46px; }
.wordpress { background-image: url('~assets/images/sprite.png'); background-position: -92px -175px; width: 100px; height: 20px; }
.prestashop { background-image: url('~assets/images/sprite.png'); background-position: -92px -195px; width: 99px; height: 17px; }
.phone { background-image: url('~assets/images/sprite.png'); background-position: -239px 0; width: 41px; height: 37px; }
.monitor-small-active { background-image: url('~assets/images/sprite.png'); background-position: -239px -37px; width: 34px; height: 33px; }
.connector-small-active { background-image: url('~assets/images/sprite.png'); background-position: -239px -70px; width: 33px; height: 33px; }
.api-small-active { background-image: url('~assets/images/sprite.png'); background-position: -239px -103px; width: 32px; height: 32px; }
.pin { background-image: url('~assets/images/sprite.png'); background-position: -239px -135px; width: 28px; height: 35px; }
.palette { background-image: url('~assets/images/sprite.png'); background-position: -239px -170px; width: 31px; height: 26px; }
.palette-active { background-image: url('~assets/images/sprite.png'); background-position: -185px -148px; width: 31px; height: 26px; }
.large-delivery { background-image: url('~assets/images/sprite.png'); background-position: -239px -196px; width: 27px; height: 23px; }
.large-delivery-active { background-image: url('~assets/images/sprite.png'); background-position: -128px -98px; width: 27px; height: 23px; }
.truck-with-circle { background-image: url('~assets/images/sprite.png'); background-position: -155px -98px; width: 29px; height: 17px; }
.bus-with-circle { background-image: url('~assets/images/sprite.png'); background-position: -192px -175px; width: 29px; height: 16px; }
.truck { background-image: url('~assets/images/sprite.png'); background-position: -191px -195px; width: 28px; height: 16px; }
.documents { background-image: url('~assets/images/sprite.png'); background-position: -216px -148px; width: 18px; height: 23px; }
.documents-active { background-image: url('~assets/images/sprite.png'); background-position: -160px -124px; width: 18px; height: 23px; }
.bus { background-image: url('~assets/images/sprite.png'); background-position: 0 -221px; width: 27px; height: 15px; }
.car-with-circle { background-image: url('~assets/images/sprite.png'); background-position: -27px -221px; width: 27px; height: 15px; }
.box { background-image: url('~assets/images/sprite.png'); background-position: -160px -147px; width: 19px; height: 21px; }
.box-active { background-image: url('~assets/images/sprite.png'); background-position: 0 -236px; width: 19px; height: 21px; }
.truck-active { background-image: url('~assets/images/sprite.png'); background-position: -54px -221px; width: 25px; height: 15px; }
.bike-with-circle { background-image: url('~assets/images/sprite.png'); background-position: -79px -221px; width: 25px; height: 15px; }
.car { background-image: url('~assets/images/sprite.png'); background-position: -104px -221px; width: 26px; height: 14px; }
.instagram-icon { background-image: url('~assets/images/sprite.png'); background-position: -19px -236px; width: 19px; height: 19px; }
.car-active { background-image: url('~assets/images/sprite.png'); background-position: -130px -221px; width: 25px; height: 14px; }
.bus-active { background-image: url('~assets/images/sprite.png'); background-position: -155px -221px; width: 25px; height: 14px; }
.bike { background-image: url('~assets/images/sprite.png'); background-position: -38px -236px; width: 23px; height: 15px; }
.facebook-icon { background-image: url('~assets/images/sprite.png'); background-position: 0 -257px; width: 17px; height: 17px; }
.google-icon { background-image: url('~assets/images/sprite.png'); background-position: -17px -257px; width: 17px; height: 17px; }
.onfoot-with-circle { background-image: url('~assets/images/sprite.png'); background-position: -280px 0; width: 15px; height: 19px; }
.bike-active { background-image: url('~assets/images/sprite.png'); background-position: -180px -221px; width: 21px; height: 13px; }
.twitter-icon { background-image: url('~assets/images/sprite.png'); background-position: -221px -175px; width: 18px; height: 15px; }
.onfoot { background-image: url('~assets/images/sprite.png'); background-position: -280px -19px; width: 14px; height: 16px; }
.onfoot-active { background-image: url('~assets/images/sprite.png'); background-position: -280px -35px; width: 12px; height: 15px; }
.btn-icon-download { background-image: url('~assets/images/sprite.png'); background-position: -280px -50px; width: 11px; height: 10px; }
.btn-icon-check { background-image: url('~assets/images/sprite.png'); background-position: -280px -60px; width: 12px; height: 8px; }
.btn-icon-arrow-right { background-image: url('~assets/images/sprite.png'); background-position: -280px -68px; width: 6px; height: 11px; }
.btn-icon-download-small { background-image: url('~assets/images/sprite.png'); background-position: -286px -68px; width: 8px; height: 7px; }
.btn-icon-arrow-right-small { background-image: url('~assets/images/sprite.png'); background-position: -291px -50px; width: 4px; height: 9px; }
