// ===
// Utilities

// Text
.text

  &--truncate
    +truncate('100%')

  &--center
    text-align: center !important

  &--right
    text-align: right !important

  &--left
    text-align: left !important

  &--bold
    font-weight: bold !important

  &--regular
    font-weight: normal !important

  &--italic
    font-style: italic !important

  &--primary
    color: $primary !important

  &--info
    color: $info !important

  &--success
    color: $success !important

  &--warning
    color: $warning !important

  &--danger
    color: $danger !important

  &--light
    color: $text-color-secondary !important

  &--white
    color: $white !important

  &--black
    color: $black !important


// Padding
.p

  &--0
    padding: 0 !important

  &__t
    &--0
      padding-top: 0 !important

  &__r
    &--0
      padding-right: 0 !important

  &__b
    &--0
      padding-bottom: 0 !important

  &__l
    &--0
      padding-left: 0 !important

  &__x
    &--0
      padding-left: 0 !important
      padding-right: 0 !important

  &__y
    &--0
      padding-top: 0 !important
      padding-bottom: 0 !important


// Margin
.m

  &--0
    margin: 0 !important

  &__t
    &--0
      margin-top: 0 !important

  &__r
    &--0
      margin-right: 0 !important

  &__b
    &--0
      margin-bottom: 0 !important

  &__l
    &--0
      margin-left: 0 !important

  &__x
    &--0
      margin-left: 0 !important
      margin-right: 0 !important

  &__y
    &--0
      margin-top: 0 !important
      margin-bottom: 0 !important


hr
	border: 0
	border-top: $border-width solid $dark-gray
	margin: $space-sm 0


.hide

  +breakpoint-between(0, $breakpoint-mobile)
    &--xs
      +hide

  +breakpoint-between($breakpoint-mobile, $breakpoint-tablet)
    &--sm
      +hide

  +breakpoint-between($breakpoint-tablet, $breakpoint-desktop)
    &--md
      +hide

  +screen(desktop)
    &--lg
      +hide


.clearfix
  +clearfix


.float--left
  float: left


.float--right
  float: right


.block
  +block


.block--inline
  +block-inline


.block--table
  +block-table


.block--table--cell
  +block-table-cell


.block--middle
  +block-table-cell
  vertical-align: middle


.block--flex
  +block-flex


.block--center
  +block
  margin-right: auto
  margin-left: auto


// Children center
.children-center--verticial
  +center-children-verticial


// Responsive images
.img
  max-width: 100%
  height: auto


// Lazy loading images behaviors
.lazy,
.lazy[lazy=loading],
.lazy[lazy=error]
  opacity: 0
  transition: opacity 150ms ease-in

.lazy[lazy=loaded]
  opacity: 1
