<template lang="pug">
div
  v-hero(:title="faq.hero.title" :subtitle="faq.hero.subtitle" :background-image-path="faq.hero.backgroundImagePath")
  
  no-ssr
    v-container.section

      v-row
        v-col(tag="header")
          h2.h2 {{ faq.title }}

        v-col(tag="section" size="xs-12 md-6")
            h3.h3
              v-icon(name="monitor-active")
              | {{ faq.mobileTitle }}

            v-collapse-wrapper(:class="{ 'active' : collapseTogglerActive === item.id }" 
              v-on:afterToggle="addCollapseTogglerActive(item.id)"
              v-for="item in faq.mobile" 
              :key="item.id")
              header(v-collapse-toggle) {{ item.title }}
              article(v-collapse-content) {{ item.description }}

        v-col(tag="section" size="xs-12 md-6")
            h3.h3
              v-icon(name="monitor-active")
              | {{ faq.webTitle }}

            v-collapse-wrapper(:class="{ 'active' : collapseTogglerActive === item.id }" 
              v-on:afterToggle="addCollapseTogglerActive(item.id)"
              v-for="item in faq.web" 
              :key="item.id")
              header(v-collapse-toggle) {{ item.title }}
              article(v-collapse-content) {{ item.description }}

      v-row
        v-col(tag="section" size="xs-12 md-6")
            h3.h3
              v-icon(name="monitor-active")
              | {{ faq.pluginTitle }}

            v-collapse-wrapper(:class="{ 'active' : collapseTogglerActive === item.id }" 
              v-on:afterToggle="addCollapseTogglerActive(item.id)"
              v-for="item in faq.plugin" 
              :key="item.id")
              header(v-collapse-toggle) {{ item.title }}
              article(v-collapse-content) {{ item.description }}
</template>

<script>
import { mapGetters } from 'vuex'
import { collapseToggler } from '@/mixins/collapseToggler'
import Hero from '@/components/Hero'

export default {
	name: 'Faq',
  mixins: [ collapseToggler ],
	head () {
    return {
      title: this.head.faq.title,
      meta: [
        { hid: 'description', name: 'description', content: this.head.faq.description }
      ]
    }
  },
  computed: {
    ...mapGetters('content', [ 'head', 'faq' ])
  },
  components: {
    vHero: Hero
  }
}
</script>

<style lang="sass" scoped>
.h2
  margin-bottom: 3rem

  +screen(desktop)
    margin-bottom: 4.5rem

.h3
  display: flex
  align-items: center

  .icon
    margin-right: 2rem

.col

  &--md-6
    margin-bottom: 2rem
    
    +screen(tablet)
      margin-bottom: 3rem

    +screen(desktop)
      margin-bottom: 4rem

.vc-collapse
  box-shadow: $collapse-box-shadow-size $collapse-box-shadow-color
  border-radius: $border-radius-md
  background-color: $gray
  margin-bottom: 5px
  transition: background-color, box-shadow 200ms ease-in-out

  &.active
    background-color: $white
    box-shadow: 0 0 25px 15px rgba(#818181, .1)

    .v-collapse-toggler
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(-45deg)

.v-collapse-toggler
  +font($font-weight: $font-weight-bold, $font-size: $collapse-toggler-font-size-mobile, $font-family: $font-family-headline, $color: $headline-color, $line-height: $headline-line-height)
  +arrow-down-pseudo-icon
  position: relative
  cursor: pointer
  padding: $collapse-toggler-padding-mobile

  +screen(tablet)
    font-size: $collapse-toggler-font-size-desktop
    padding: $collapse-toggler-padding-desktop

.v-collapse-content
  height: 0
  overflow: hidden
  transition: height 200ms ease-in-out
  
  &-end
    border-top: 1px solid $dark-gray
    padding: $collapse-content-end-padding-mobile
    height: auto

    +screen(tablet)
      padding: $collapse-content-end-padding-desktop
</style>
