<template lang="pug">
main
  the-header

  transition(name="fade" mode="out-in")
    nuxt

  the-footer
</template>

<script>
import TheHeader from '@/components/TheHeader'
import TheFooter from '@/components/TheFooter'

export default {
  name: 'Layout',
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style lang="sass">
*
  box-sizing: border-box
  outline: none

+selection
  background-color: $primary
  color: $text-color

html, body
  font-size: $font-size-base
  height: 100%

body
  +font
  background-color: $body-bg

b,
strong
  font-weight: $font-weight-bold

small
  font-size: .8em

p
  margin: $text-margin-mobile

  +screen(tablet)
    margin: $text-margin-desktop


// ===
// Router animation
.fade-enter-active
  animation: fade-in 50ms ease-in forwards

.fade-leave-active
  animation: fade-out 50ms ease-out forwards

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes fade-out
  from
    opacity: 1
  to
    opacity: 0
</style>

