<template lang="pug">
div
	the-map
	the-how-it-works
	the-integrations
	the-download-the-app
	the-be-our-driver
	the-newsletter
	the-sidebar-nav
</template>

<script>
import VueScrollTo from 'vue-scrollto'
import { mapActions, mapGetters } from 'vuex'
import TheMap from '@/components/TheMap'
import TheHowItWorks from '@/components/TheHowItWorks'
import TheIntegrations from '@/components/TheIntegrations'
import TheDownloadTheApp from '@/components/TheDownloadTheApp'
import TheBeOurDriver from '@/components/TheBeOurDriver'
import TheSidebarNav from '@/components/TheSidebarNav'
import TheNewsletter from '@/components/forms/TheNewsletterForm'

export default {
	name: 'Home',
	methods: {
  	...mapActions('scrollMenu', [ 'changeActiveMenuItem' ])
	},
	computed: {
		...mapGetters('scrollMenu', [ 'menu' ])
	},
	components: {
		TheMap,
		TheHowItWorks,
		TheIntegrations,
		TheDownloadTheApp,
		TheBeOurDriver,
		TheNewsletter,
		TheSidebarNav
	},
	mounted () {
  	if ($nuxt.$route.hash) {
  		let currentMenuItem = this.menu.find(item => item.url === $nuxt.$route.hash)
  		if (!currentMenuItem) 
  			return

  		this.changeActiveMenuItem(currentMenuItem.id)
  		VueScrollTo.scrollTo($nuxt.$route.hash, 250)
  	}
	}
}
</script>
