<template lang="pug">
div.modal-login
	v-social-btn(social="facebook" href="#") 
		v-icon(name="facebook-icon") 
		| {{ login.loginByFacebook }}
	v-social-btn(social="google" href="#") 
		v-icon(name="google-icon") 
		| {{ login.loginByGoogle }}

	span.modal-login__or {{ login.orText }}

	form(novalidate @submit.prevent="submitForm" v-if="isBrowser")
		v-field(type="email" 
			name="registerEmail"
			id="registerEmail"
			:placeholder="form.label.email"
			:label="form.label.email"
			v-model.trim="email"
			hide-label
			:valid-error="$v.email.$error"
			:valid-success="!$v.email.$invalid"
			@input="$v.email.$touch()")
			div(slot="error-message")
				span(v-if="!$v.email.required") {{ form.error.required }}
				span(v-if="!$v.email.email") {{ form.error.email }}

		v-field(type="password" 
			name="registerPassword"
			id="registerPassword"
			:placeholder="form.label.password"
			:label="form.label.password"
			v-model.trim="password"
			hide-label
			:valid-error="$v.password.$error"
			:valid-success="!$v.password.$invalid"
			@input="$v.password.$touch()")
			div(slot="error-message")
				span(v-if="!$v.password.required") {{ form.error.required }}
				span(v-if="!$v.password.minLeng") {{ form.error.passwordMinLeng }}

		v-link.block.text--light(to="/przypomnij-haslo" @click="changeRoute") {{ login.didYouForgetPassword }}

		v-btn(native-type="submit" type="success" block) 
			| {{ login.submit }}
			v-btn-icon
				v-icon(name="btn-icon-arrow-right")

	span.block
		| {{ login.doYouHaveAcount }} <v-link @click="closeModal">{{ login.register }}</v-link>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required, email, minLength } from 'vuelidate/lib/validators'
import SocialBtn from '@/components/ui/SocialButton'
import Field from '@/components/ui/form/fields/Field'

export default {
	name: 'Theregister',
	data () {
		return {
			isBrowser: process.browser,
			email: '',
			password: ''
		}
	},
  validations: {
    email: { required, email },
    password: { required, minLeng: minLength(6) }
  },
	methods: {
		...mapActions('scrollMenu', [ 'changeActiveMenuItem' ]),
		...mapActions('form', [ 'submitLoginForm' ]),
    closeModal () {
      this.$emit('closeModal')
    },
    changeRoute () {
      this.$emit('changeRoute')
    }, 
    goToForgetPass () {
      this.changeActiveMenuItem()
    	this.closeModal()
    },
		submitForm () {
			this.$v.$touch()
		  if (!this.$v.$invalid)
		  	this.submitLoginForm({
					email: this.email,
					password: this.password
				})
		}
	},
	computed: {
		...mapGetters('content', [ 'form', 'login' ])
	},
	components: {
		vSocialBtn: SocialBtn,
		vField: Field
	},
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>

<style lang="sass" scoped>
.modal-login

	&__or
		+block
		margin: 1.8rem 0

.btn
	margin-top: 1rem
	margin-bottom: 2rem
</style>
