<template lang="pug">
v-row.modal-register
	v-col.modal-register__left.hide--xs(size="sm-6")
		div.modal-register__top
			span.h2.block(v-html="register.yourShippingIsReady")
			img.img(src="~/static/images/shipping-in-modal.png" :alt="register.yourShippingIsReady")
		div.modal-register__bottom
			span.text--light {{ register.accountBenefitsTitle }}
			v-list(list-style-check)
				v-list-item(v-for="(item, index) in register.accountBenefitsList" :key="item + index") {{ item }}

	v-col.modal-register__right(size="xs-12 sm-6")
		v-social-btn(social="facebook" href="#") 
			v-icon(name="facebook-icon") 
			| {{ register.loginByFacebook }}
		v-social-btn(social="google" href="#")
			v-icon(name="google-icon") 
			| {{ register.loginByGoogle }}

		span.modal-register__or {{ register.orText }}

		form(novalidate @submit.prevent="submitForm" v-if="isBrowser")
			v-field(type="text" 
				name="registerName"
				id="registerName"
				:placeholder="form.label.name"
				:label="form.label.name"
				v-model.trim="name"
				hide-label
				:valid-error="$v.name.$error"
				:valid-success="!$v.name.$invalid"
				@input="$v.name.$touch()")
				span(slot="error-message" v-if="!$v.name.required") {{ form.error.required }}

			v-field(type="email" 
				name="registerEmail"
				id="registerEmail"
				:placeholder="form.label.email"
				:label="form.label.email"
				v-model.trim="email"
				hide-label
				:valid-error="$v.email.$error"
				:valid-success="!$v.email.$invalid"
				@input="$v.email.$touch()")
				div(slot="error-message")
					span(v-if="!$v.email.required") {{ form.error.required }}
					span(v-if="!$v.email.email") {{ form.error.email }}

			v-field(type="password" 
				name="registerPassword"
				id="registerPassword"
				:placeholder="form.label.password"
				:label="form.label.password"
				v-model.trim="password"
				hide-label
				:valid-error="$v.password.$error"
				:valid-success="!$v.password.$invalid"
				@input="$v.password.$touch()")
				div(slot="error-message")
					span(v-if="!$v.password.required") {{ form.error.required }}
					span(v-if="!$v.password.minLeng") {{ form.error.passwordMinLeng }}

			v-field(type="password" 
				name="confirmRegisterPassword"
				id="confirmRegisterPassword"
				:placeholder="form.label.confirmPassword"
				:label="form.label.confirmPassword"
				v-model.trim="confirmPassword"
				hide-label
				:valid-error="$v.confirmPassword.$error"
				:valid-success="!$v.confirmPassword.$invalid && $v.confirmPassword.$dirty"
				@input="$v.confirmPassword.$touch()")
				div(slot="error-message")
					span(v-if="!$v.confirmPassword.required && !$v.confirmPassword.$model.length && !$v.password.$model.length") 
						| {{ form.error.required }}
					span(v-if="!$v.confirmPassword.sameAsPass && $v.confirmPassword.$model.length && $v.password.$model.length") 
						| {{ form.error.notTheSamePassword }}

			v-checkbox(name="registerTerms"
				id="registerTerms"
				:label="register.termsNote"
				v-model.trim="terms"
				:valid-error="!$v.terms.$model && !isFirstLoad"
				@change="onChangeTerms")
			
			div.clearfix
				span.float--left
					| {{ register.doYouHaveAcount }}
					v-link.block(@click="closeModal") {{ register.login }}

				v-btn.float--right(native-type="submit" type="success") 
					| {{ register.submit }}
					v-btn-icon
						v-icon(name="btn-icon-arrow-right")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import SocialBtn from '@/components/ui/SocialButton'
import Field from '@/components/ui/form/fields/Field'
import Checkbox from '@/components/ui/form/fields/Checkbox'

export default {
	name: 'Theregister',
	data () {
		return {
			isBrowser: process.browser,
			isFirstLoad: true,
			name: '',
			email: '',
			password: '',
			confirmPassword: '',
			terms: false
		}
	},
  validations: {
    name: { required },
    email: { required, email },
    password: { required, minLeng: minLength(6) },
    confirmPassword: { required, sameAsPass: sameAs('password') },
    terms: { sameAs: sameAs( () => true ) }
  },
	methods: {
		...mapActions('form', [ 'submitRegisterForm' ]),
    closeModal () {
      this.$emit('closeModal')
    },
  	changeFirstLoad () {
  		if (this.isFirstLoad)
  			this.isFirstLoad = false
  	},
  	onChangeTerms (value) {
			this.changeFirstLoad()
			this.terms = value
  	},
		submitForm () {
			this.changeFirstLoad()
			this.$v.$touch()
		  if (!this.$v.$invalid)
		  	this.submitRegisterForm({
					name: this.name,
					email: this.email,
					password: this.password,
					terms: this.terms
				})
		}
	},
	computed: {
		...mapGetters('content', [ 'form', 'register' ])
	},
	components: {
		vSocialBtn: SocialBtn,
		vField: Field,
		vCheckbox: Checkbox
	},
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>

<style lang="sass" scoped>
.float
	&--right
	&--left
		@media (max-width: #{$breakpoint-mobile})
			float: none

.btn
	@media (max-width: #{$breakpoint-mobile})
		display: block
		margin-top: 1rem
		width: 100%

.list
	margin: 1.5rem 0

	&__item
		margin-bottom: .5rem

.modal-register

	&__left
		box-shadow: 0px 0px 30px 1px rgba($black, .05)
		border-radius: $border-radius-lg $border-radius-lg 0 $border-radius-lg
		padding: 0

	&__right
		padding: 2rem 1.5rem
		
		+screen(tablet)
			padding: 3rem

		+screen(desktop)
			padding: 5rem

	&__top,
	&__bottom
		padding: 6.55rem
	
	&__top
		text-align: center
		padding-bottom: 0

		.img
			position: relative
			bottom: -30px

	&__bottom
		background-color: $white
		border-radius: $border-radius-lg 0 0 $border-radius-lg

	&__or
		+block
		margin: 1rem 0

		+screen(tablet)
			margin-top: 1.8rem
			margin-bottom: 1.8rem
</style>
