<template lang="pug">
v-row
	v-col
		h3.h3(v-html="beOurDriver.sendUsYourRequest")
		no-ssr
			form(novalidate @submit.prevent="submitForm" v-if="isBrowser")
				v-row(margin)
					v-col(size="xs-12 sm-6 md-5" offset="md-1")
						v-field(type="text" 
							name="driverName"
							id="driverName"
							:label="form.label.firstAndLastName"
							v-model.trim="name"
							:valid-error="$v.name.$error"
							:valid-success="!$v.name.$invalid"
							@input="$v.name.$touch()")
							span(slot="error-message" v-if="!$v.name.required") {{ form.error.required }}

						v-field(type="email" 
							name="driverEmail"
							id="driverEmail"
							v-model.trim="email"
							:label="form.label.email"
							:valid-error="!$v.email.email || $v.email.$error"
							:valid-success="!$v.email.$invalid && $v.email.$model"
							@input="$v.email.$touch()")
							div(slot="error-message")
								span(v-if="!$v.email.invalid && $v.email.email") {{ form.error.required }}
								span(v-if="!$v.email.email") {{ form.error.email }}

					v-col(size="xs-12 sm-6 md-5")
						v-field(type="tel" 
							name="driverPhone"
							id="driverPhone"
							:label="form.label.phone"
							v-model.trim="phone"
							:valid-error="$v.phone.$error"
							:valid-success="!$v.phone.$invalid"
							@input="$v.phone.$touch()")
							div(slot="error-message")
								span(v-if="!$v.phone.required") {{ form.error.required }}
								span(v-if="!$v.phone.numeric") {{ form.error.numeric }}

						v-field(type="text" 
							name="driverCity"
							id="driverCity"
							:label="form.label.city"
							v-model.trim="city"
							:valid-error="$v.city.$error"
							:valid-success="!$v.city.$invalid"
							@input="$v.city.$touch()")
							span(slot="error-message" v-if="!$v.city.required") {{ form.error.required }}

				v-row(margin)
					v-col(size="xs-12 md-10" offset="md-1")
						span.block.h5 {{ form.label.chooseTransportType }}
						v-list(inline)
							v-list-item(v-for="type in beOurDriver.driverTypes" :key="type.id")
								v-checkbox(name="driverTypes"
									v-model.trim="types"
									:native-value="type.name"
									:valid-error="!$v.types.$model")
									span(slot="label")
											v-icon(:name="type.icon") 
											| {{ type.name }}

					v-col(size="xs-12 sm-8 md-7")
						v-checkbox(name="driverTerms"
							:label="beOurDriver.terms"
							v-model.trim="terms"
							id="driverTerms"
							:valid-error="!$v.terms.$model && !isFirstLoad"
							@change="onChangeTerms")

					v-col.clearfix(size="xs-12 sm-4 md-3" offset="md-2")
						v-btn.float--right(native-type="submit" type="success") 
							| {{ form.submit.send }}
							v-btn-icon
								v-icon(name="btn-icon-arrow-right")
</template>

<script>
import { mapGetters } from 'vuex'
import { required, email, numeric, minLength, sameAs } from 'vuelidate/lib/validators'
import Field from '@/components/ui/form/fields/Field'
import Checkbox from '@/components/ui/form/fields/Checkbox'

export default {
	name: 'TheBeOurDriverForm',
	data () {
    return {
    	isBrowser: process.browser,
    	isFirstLoad: true,
			name: '',
			phone: '',
      email: '',
			city: '',
			types: [],
      terms: false
    }
  },
  validations: {
    name: { required },
    phone: { required, numeric },
    email: { required, email },
    city: { required },
    types: { 
    	required,
      minLength: minLength(1),
      $each: { required } 
    },
    terms: { sameAs: sameAs( () => true ) }
  },
  methods: {
  	changeFirstLoad () {
  		if (this.isFirstLoad)
  			this.isFirstLoad = false
  	},
  	onChangeTerms (value) {
			this.changeFirstLoad()
			this.terms = value
  	},
  	onChangeType (value) {
			this.type = value
  	},
		submitForm () {
			this.changeFirstLoad()
			this.$v.$touch()
		  if (!this.$v.$invalid)
		  	this.$store.dispatch('form/submitDriverForm', {
		  		name: this.name,
					phone: this.phone,
		      email: this.email,
					city: this.city,
					types: this.types,
		      terms: this.terms
		  	})
		}
  },
  computed: {
		...mapGetters('content', [ 'beOurDriver', 'form' ])
	},
	components: {
		vField: Field,
		vCheckbox: Checkbox
	},
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>

<style lang="sass" scoped>
form
	+screen(desktop)
		margin-top: 5rem

	.icon
		position: relative
		top: 2px
		margin-right: 1rem
		margin-left: 1rem

.form
	&__label-text
		margin-top: 0

.list
	+screen(desktop)
		margin-bottom: 1rem
	
	&__item
		margin-bottom: 0

.float--right
	+breakpoint-between(0, $breakpoint-tablet)
		float: none !important
</style>
