<template lang="pug">
no-ssr
    form(novalidate @submit.prevent="submitContactForm" v-if="isBrowser")

        v-field(type="text" 
            name="contactFormName"
            id="contactFormName"
            :placeholder="form.label.name"
            :label="form.label.name"
            v-model.trim="name"
            hide-label
            :valid-error="$v.name.$error"
            :valid-success="!$v.name.$invalid"
            @input="$v.name.$touch()")
            span(slot="error-message" v-if="!$v.name.required") {{ form.error.required }}

        v-field(type="email" 
            name="contactFormEmail"
            id="contactFormEmail"
            :placeholder="form.label.email"
            :label="form.label.email"
            v-model.trim="email"
            hide-label
            :valid-error="$v.email.$error"
            :valid-success="!$v.email.$invalid"
            @input="$v.email.$touch()")
            div(slot="error-message")
                span(v-if="!$v.email.required") {{ form.error.required }}
                span(v-if="!$v.email.email") {{ form.error.email }}

        v-field(name="contactFormMessage"
            id="contactFormMessage"
            :placeholder="contact.contactFormMessage"
            :label="contact.contactFormMessage"
            v-model.trim="message"
            hide-label
            textarea
            :valid-error="$v.message.$error"
            :valid-success="!$v.message.$invalid"
            @input="$v.message.$touch()")
                span(slot="error-message" v-if="!$v.message.required") {{ form.error.required }}

        div.clearfix
          span.float--left
            v-checkbox(name="contactFormTerms"
                id="contactFormTerms"
                :label="contact.termsNote"
                v-model.trim="terms"
                :valid-error="!$v.terms.$model && !isFirstLoad"
                @change="onChangeTerms")

          v-btn.float--right(native-type="submit" type="success") 
            | {{ form.submit.send }}
            v-btn-icon
              v-icon(name="btn-icon-arrow-right")   
</template>

<script>
import { mapGetters } from 'vuex'
import { required, email, sameAs } from 'vuelidate/lib/validators'
import Field from '@/components/ui/form/fields/Field'
import Checkbox from '@/components/ui/form/fields/Checkbox'

export default {
  name: 'TheContactForm',
  data () {
    return {
      isBrowser: process.browser,
      isFirstLoad: true,
      name: '',
      email: '',
      message: '',
      terms: false
    }
  },
  validations: {
    name: { required },
    email: { required, email },
    message: { required },
    terms: { sameAs: sameAs( () => true ) }
  },
  methods: {
    changeFirstLoad () {
      if (this.isFirstLoad)
        this.isFirstLoad = false
    },
    onChangeTerms (value) {
      this.changeFirstLoad()
      this.terms = value
    },
    submitContactForm () {
      this.changeFirstLoad()
      this.$v.$touch()
      if (!this.$v.$invalid)
        this.$store.dispatch('form/submitContactForm', {
          name: this.name,
          email: this.email,
          message: this.message,
          terms: this.terms
        })
    }
  },
  computed: {
    ...mapGetters('content', [ 'form', 'contact' ])
  },
  components: {
    vField: Field,
    vCheckbox: Checkbox
  },
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>
