<template lang="pug">
v-panel(has-shadow)
	h2.h3 Nadaj przesyłkę
	form(novalidate @submit.prevent="submitForm")

		div.clearfix
			span.block.h6 Co chcesz wysłać?
			v-selectbox(label="Dokumenty" inline)
				v-icon(name="documents")
			v-selectbox(label="Pudełko" inline)
				v-icon(name="box")
			v-selectbox(label="Duża paczka" inline)
				v-icon(name="large-delivery")
			v-selectbox(label="Paleta" inline)
				v-icon(name="palette")
		
		div.clearfix
			div.float--left
				span.h6 Waga
				.clearfix.m__b--0
					v-field.float--left.small.m__l--0(type="text" label="Waga" hideLabel) 
					span.float--left kg
			div.float--left
				span.h6 Wymiary
				.clearfix.m__b--0
					v-field.float--left.small(type="text" label="Długość" hideLabel)
					span.float--left x
					v-field.float--left.small(type="text" label="Szerokość" hideLabel) 
					span.float--left x
					v-field.float--left.small(type="text" label="Wysokość" hideLabel) 
					span.float--left cm
		
		.clearfix
			v-field(type="text" placeholder="Adres nadania")
			v-field(type="text" placeholder="Adres doręczenia")

		div.clearfix
			span.block.h6 Opcje dostawy
			v-selectbox(label="Pieszo" hideLabel inline)
				v-icon(name="onfoot")
			v-selectbox(label="rower" hideLabel inline)
				v-icon(name="bike")
			v-selectbox(label="samochód" hideLabel inline)
				v-icon(name="car")
			v-selectbox(label="bus" hideLabel inline)
				v-icon(name="bus")
			v-selectbox(label="ciężarówka" hideLabel inline)
				v-icon(name="truck")

		div.clearfix.m__b--0
			div.float--left
				span.price 500 zł
			div.float--right
				v-btn(native-type="submit" type="success") 
					| Szukaj dostawcy
					v-btn-icon
						v-icon(name="btn-icon-arrow-right")
</template>

<script>
import { mapGetters } from 'vuex'
import { required, email, sameAs } from 'vuelidate/lib/validators'
import Field from '@/components/ui/form/fields/Field'
import Checkbox from '@/components/ui/form/fields/Checkbox'
import Selectbox from '@/components/ui/form/fields/Selectbox'

export default {
	name: 'TheDeliveryForm',
	data () {
		return {
			deliveryType: ''
		}
	},
	methods: {
		submitForm () { }
	},
	computed: {
		...mapGetters('content', [ 'form' ])
	},
	components: {
		vField: Field,
		vSelectbox: Selectbox,
		vCheckbox: Checkbox
	}
}
</script>

<style lang="sass" scoped>
.panel

	+screen(mobile)
		&--has-shadow
			box-shadow: 0 0 10px 5px rgba($black, .05)

	+screen(tablet)
		position: absolute
		top: 60px
		left: -190px
		width: 420px
		margin: 0

	+screen(desktop)
		top: 60px
		left: -100px

.h3, .h6
	font-weight: $font-weight-bold

.h6
	display: inline-block
	margin-bottom: .75rem

.price
	+font($font-weight: $font-weight-bold, $font-size: 2.15rem, $font-family: $font-family-base, $color: $success)

.clearfix

	+screen(mobile)
		margin-bottom: .5rem

.small
	margin-right: 5px !important
	margin-left: 5px !important
	width: 40px

	+screen(mobile)
		width: 60px

	@media (min-width: 350px)
		width: 50px

span.float--left
	margin-top: 8px

.float--right
	
	@media (max-width: 350px)
		float: none !important

.btn

	@media (max-width: 350px)
		display: block
		width: 100%
</style>
