<template lang="pug">
div.section.children-center--verticial.lazy.m__b--0(v-lazy:background-image="require('static/images/newsletter-bg.png')")
	v-container 
		v-row
			v-col(size="xs-12 sm-6 md-4 lg-4")
				h2.h2(v-html="newsletter.title")
				p {{ newsletter.description }}

			v-col(size="xs-12 sm-6 md-7 lg-6" offset="md-1 lg-2" no-padding)
				no-ssr
					form(novalidate @submit.prevent="submitForm" v-if="isBrowser")
						v-row
							v-col(size="xs-12 md-4")
								h3.h3 {{ newsletter.subtitle }}

							v-col(size="xs-12 md-8")
								v-field(type="email" 
									name="newsletterEmail"
									:placeholder="newsletter.emailLabel"
									id="newsletterEmail"
									v-model.trim="email"
									:label="newsletter.emailLabel"
									hide-label
									:valid-error="!$v.email.email || $v.email.$error"
									:valid-success="!$v.email.$invalid && $v.email.$model"
									@input="$v.email.$touch()")
									div(slot="error-message")
										span(v-if="!$v.email.invalid && $v.email.email") {{ form.error.required }}
										span(v-if="!$v.email.email") {{ form.error.email }}

						v-row
							v-col(size="xs-12 md-7")
								v-checkbox(name="newsletterTerms"
									:label="newsletter.termsNote"
									v-model="terms"
									id="newsletterTerms"
									:valid-error="!$v.terms.$model && !isFirstLoad"
									@change="onChangeTerms")

							v-col.clearfix(size="xs-12 md-4" offset="md-1")
								v-btn.float--right(native-type="submit" type="success") 
									| {{ newsletter.submit }}
									v-btn-icon
										v-icon(name="btn-icon-check")
</template>

<script>
import { mapGetters } from 'vuex'
import { required, email, sameAs } from 'vuelidate/lib/validators'
import Field from '@/components/ui/form/fields/Field'
import Checkbox from '@/components/ui/form/fields/Checkbox'

export default {
	name: 'TheNewsletter',
  data () {
    return {
    	isBrowser: process.browser,
    	isFirstLoad: true,
      email: '',
      terms: false
    }
  },
  validations: {
    email: { required, email },
    terms: { sameAs: sameAs( () => true ) }
  },
  methods: {
  	changeFirstLoad () {
  		if (this.isFirstLoad)
  			this.isFirstLoad = false
  	},
  	onChangeTerms (value) {
			this.changeFirstLoad()
			this.terms = value
  	},
		submitForm () {
			this.changeFirstLoad()
			this.$v.$touch()
		  if (!this.$v.$invalid)
		  	this.$store.dispatch('form/submitNewsletterForm', this.email)
		}
  },
  computed: {
		...mapGetters('content', [  
			'form',
			'newsletter'
		])
	},
	components: {
		vField: Field,
		vCheckbox: Checkbox
	},
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>

<style lang="sass" scoped>
.section
	+background-image-setup($body-bg-secondary, 100% auto, bottom right)
	padding: 4rem 0
	min-height: auto

	+screen(mobile)
		background-size: 70% auto

	+screen(desktop)
		background-size: auto
		min-height: 44rem

	.float--right
		+breakpoint-between(0, $breakpoint-tablet)
			float: none !important
</style>
