<template lang="pug">
no-ssr
  form(novalidate @submit.prevent="submitTechHelpForm" v-if="isBrowser")

    v-field(type="email" 
      name="techHelpFormEmail"
      id="techHelpFormEmail"
      :placeholder="form.label.email"
      :label="form.label.email"
      v-model.trim="email"
      hide-label
      :valid-error="$v.email.$error"
      :valid-success="!$v.email.$invalid"
      @input="$v.email.$touch()")
      div(slot="error-message")
      span(v-if="!$v.email.required") {{ form.error.required }}
      span(v-if="!$v.email.email") {{ form.error.email }}

    v-select(name="techHelpFormIssues"
      id="techHelpFormIssues"
      v-model.trim="issue"
      hide-label
      :valid-error="$v.issue.$error"
      :valid-success="!$v.issue.$invalid"
      @input="$v.issue.$touch()")
      span(slot="error-message" v-if="!$v.issue.required") {{ form.error.required }}
      option(value="" selected disabled) {{ contact.techFormIssue }}
      option(v-for="issue in contact.issues" :value="issue.id" :key="issue.id") {{ issue.name }}

    v-field(name="techHelpFormDescription"
      id="techHelpFormDescription"
      :placeholder="contact.techFormDescription"
      :label="contact.techFormDescription"
      v-model.trim="description"
      hide-label
      textarea
      :valid-error="$v.description.$error"
      :valid-success="!$v.description.$invalid"
      @input="$v.description.$touch()")
        span(slot="error-message" v-if="!$v.description.required") {{ form.error.required }}

    div.clearfix
      v-btn.float--right(native-type="submit" type="success") 
        | {{ form.submit.loginToSend }}
        v-btn-icon
          v-icon(name="btn-icon-arrow-right")  
</template>

<script>
import { mapGetters } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import Field from '@/components/ui/form/fields/Field'
import Select from '@/components/ui/form/fields/Select'

export default {
  name: 'TheTechHelpForm',
  data () {
    return {
      isBrowser: process.browser,
      email: '',
      description: '',
      issue: ''
    }
  },
  validations: {
    email: { required, email },
    description: { required },
    issue: { required }
  },
  methods: {
    submitTechHelpForm () {
      this.$v.$touch()
      if (!this.$v.$invalid)
        this.$store.dispatch('form/submitTechHelpForm', {
          email: this.email,
          issue: this.issue,
          description: this.description
        })
    }
  },
  computed: {
    ...mapGetters('content', [ 'form', 'contact' ])
  },
  components: {
    vField: Field,
    vSelect: Select
  },
  mounted () {
    this.isBrowser = process.browser
  }
}
</script>
